@charset "UTF-8";
/*****************************************************************
    Libreria de estilos en css3
    Nombre: BodyStyle
    Autor: Fedrico Manzano
    Version: 1.0.0
*******************************************************************/
/*Estilos generales */
/**
    Estilos generales afectan a toda la pagina
*/
@font-face {
  font-family: "HelveticaNeue-med";
  src: url("./fonts/HelveticaNeueMed.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
  font-family: "HelveticaNeue", Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

html, body {
  width: 100% !important;
  height: 100% !important;
}

/*******************************************************************************************
*   Etiquetas H definidas Fuente Helvetica y las clases correspondientes a las etiquetas
*   h1 => .h1
*   h1 => .h2
*   h1 => .h3
*   h1 => .h4
*   h1 => .h5
*   h1 => .h6
********************************************************************************************/
h1, .h1 {
  font-size: 2.3em;
  font-weight: 700;
}

h2, .h2 {
  font-size: 2.2em;
  font-weight: 700;
}

h3, .h3 {
  font-size: 1.8em;
  font-weight: 600;
}

h4, .h4 {
  font-size: 1.2em;
  font-weight: 600;
}

h5, .h5 {
  font-size: 1.1em;
  font-weight: 600;
}

h6, .h6 {
  font-size: 1em;
  font-weight: 500;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not[href] {
  color: #9c9c9c;
  cursor: none;
}

/*******************************************************************************************
*   Etiquetas P
********************************************************************************************/
p, .p {
  font-size: 1em;
}

span {
  font-size: 1em;
  font-weight: 100;
}

/*CSS */
/*
    Trabajando con los textos 
*/
.a-centrado {
  text-align: center !important;
}

.a-derecha {
  text-align: right !important;
}

.a-izquierda {
  text-align: left !important;
}

.f-grosor-1 {
  font-weight: 100 !important;
}

.f-grosor-2 {
  font-weight: 200 !important;
}

.f-grosor-3 {
  font-weight: 300 !important;
}

.f-grosor-4 {
  font-weight: 400 !important;
}

.f-grosor-5 {
  font-weight: 500 !important;
}

.f-grosor-6 {
  font-weight: 600 !important;
}

.f-grosor-7 {
  font-weight: 700 !important;
}

.f-grosor-8 {
  font-weight: 800 !important;
}

.f-grosor-9 {
  font-weight: 900 !important;
}

.f-grosor-b {
  font-weight: bold !important;
}

.t-may {
  text-transform: uppercase !important;
}

.t-min {
  text-transform: lowercase !important;
}

.t-cap {
  text-transform: capitalize !important;
}

.c-blanco {
  color: white !important;
}

.c-negro {
  color: black !important;
}

.c-rojo {
  color: #a70f0f !important;
}

.c-azul {
  color: blue !important;
}

.c-verde {
  color: green !important;
}

/**
    Alineamiento de elementos dentro de un contenedor
    Teniendo en cuenta que 1em = 16px
*/
/**
    Clase contenedor para centrar el contenido dentro de la pagina
*/
.contenedor {
  width: 70% !important;
  margin: auto !important;
}

/***
    Utilizando flexbox para centrar el contenido
    del contenedor
*/
.a-items-cent,
.a-items-just,
.a-items-cent-just {
  display: flex !important;
}

.a-items-cent {
  align-items: center !important;
}

.a-items-just {
  justify-content: center !important;
}

.a-items-cent-just {
  align-items: center !important;
  justify-content: center !important;
}

.p-1 {
  padding: 1em !important;
}

.p-2 {
  padding: 1.5em !important;
}

.p-3 {
  padding: 2em !important;
}

.p-4 {
  padding: 2.5em !important;
}

.p-5 {
  padding: 3em !important;
}

.p-6 {
  padding: 3.5em !important;
}

.p-7 {
  padding: 4em !important;
}

.p-8 {
  padding: 4.5em !important;
}

.p-9 {
  padding: 5em !important;
}

.p-10 {
  padding: 5.5em !important;
}

.p-11 {
  padding: 6em !important;
}

.p-12 {
  padding: 6.5em !important;
}

.p-13 {
  padding: 7em !important;
}

.p-14 {
  padding: 7.5em !important;
}

.p-15 {
  padding: 8em !important;
}

.pi-1 {
  padding-left: 1em !important;
}

.pi-2 {
  padding-left: 1.5em !important;
}

.pi-3 {
  padding-left: 2em !important;
}

.pi-4 {
  padding-left: 2.5em !important;
}

.pi-5 {
  padding-left: 3em !important;
}

.pi-6 {
  padding-left: 3.5em !important;
}

.pi-7 {
  padding-left: 4em !important;
}

.pi-8 {
  padding-left: 4.5em !important;
}

.pi-9 {
  padding-left: 5em !important;
}

.pi-10 {
  padding-left: 5.5em !important;
}

.pi-11 {
  padding-left: 6em !important;
}

.pi-12 {
  padding-left: 6.5em !important;
}

.pi-13 {
  padding-left: 7em !important;
}

.pi-14 {
  padding-left: 7.5em !important;
}

.pi-15 {
  padding-left: 8em !important;
}

.pd-1 {
  padding-right: 1em !important;
}

.pd-2 {
  padding-right: 1.5em !important;
}

.pd-3 {
  padding-right: 2em !important;
}

.pd-4 {
  padding-right: 2.5em !important;
}

.pd-5 {
  padding-right: 3em !important;
}

.pd-6 {
  padding-right: 3.5em !important;
}

.pd-7 {
  padding-right: 4em !important;
}

.pd-8 {
  padding-right: 4.5em !important;
}

.pd-9 {
  padding-right: 5em !important;
}

.pd-10 {
  padding-right: 5.5em !important;
}

.pd-11 {
  padding-right: 6em !important;
}

.pd-12 {
  padding-right: 6.5em !important;
}

.pd-13 {
  padding-right: 7em !important;
}

.pd-14 {
  padding-right: 7.5em !important;
}

.pd-15 {
  padding-right: 8em !important;
}

.pab-1 {
  padding-bottom: 1em !important;
}

.pab-2 {
  padding-bottom: 1.5em !important;
}

.pab-3 {
  padding-bottom: 2em !important;
}

.pab-4 {
  padding-bottom: 2.5em !important;
}

.pab-5 {
  padding-bottom: 3em !important;
}

.pab-6 {
  padding-bottom: 3.5em !important;
}

.pab-7 {
  padding-bottom: 4em !important;
}

.pab-8 {
  padding-bottom: 4.5em !important;
}

.pab-9 {
  padding-bottom: 5em !important;
}

.pab-10 {
  padding-bottom: 5.5em !important;
}

.pab-11 {
  padding-bottom: 6em !important;
}

.pab-12 {
  padding-bottom: 6.5em !important;
}

.pab-13 {
  padding-bottom: 7em !important;
}

.pab-14 {
  padding-bottom: 7.5em !important;
}

.pab-15 {
  padding-bottom: 8em !important;
}

.par-1 {
  padding-top: 1em !important;
}

.par-2 {
  padding-top: 1.5em !important;
}

.par-3 {
  padding-top: 2em !important;
}

.par-4 {
  padding-top: 2.5em !important;
}

.par-5 {
  padding-top: 3em !important;
}

.par-6 {
  padding-top: 3.5em !important;
}

.par-7 {
  padding-top: 4em !important;
}

.par-8 {
  padding-top: 4.5em !important;
}

.par-9 {
  padding-top: 5em !important;
}

.par-10 {
  padding-top: 5.5em !important;
}

.par-11 {
  padding-top: 6em !important;
}

.par-12 {
  padding-top: 6.5em !important;
}

.par-13 {
  padding-top: 7em !important;
}

.par-14 {
  padding-top: 7.5em !important;
}

.par-15 {
  padding-top: 8em !important;
}

.m-1 {
  margin: 1em !important;
}

.m-2 {
  margin: 1.5em !important;
}

.m-3 {
  margin: 2em !important;
}

.m-4 {
  margin: 2.5em !important;
}

.m-5 {
  margin: 3em !important;
}

.m-6 {
  margin: 3.5em !important;
}

.m-7 {
  margin: 4em !important;
}

.m-8 {
  margin: 4.5em !important;
}

.m-9 {
  margin: 5em !important;
}

.m-10 {
  margin: 5.5em !important;
}

.m-11 {
  margin: 6em !important;
}

.m-12 {
  margin: 6.5em !important;
}

.m-13 {
  margin: 7em !important;
}

.m-14 {
  margin: 7.5em !important;
}

.m-15 {
  margin: 8em !important;
}

.mi-1 {
  margin-left: 1em !important;
}

.mi-2 {
  margin-left: 1.5em !important;
}

.mi-3 {
  margin-left: 2em !important;
}

.mi-4 {
  margin-left: 2.5em !important;
}

.mi-5 {
  margin-left: 3em !important;
}

.mi-6 {
  margin-left: 3.5em !important;
}

.mi-7 {
  margin-left: 4em !important;
}

.mi-8 {
  margin-left: 4.5em !important;
}

.mi-9 {
  margin-left: 5em !important;
}

.mi-10 {
  margin-left: 5.5em !important;
}

.mi-11 {
  margin-left: 6em !important;
}

.mi-12 {
  margin-left: 6.5em !important;
}

.mi-13 {
  margin-left: 7em !important;
}

.mi-14 {
  margin-left: 7.5em !important;
}

.mi-15 {
  margin-left: 8em !important;
}

.md-1 {
  margin-right: 1em !important;
}

.md-2 {
  margin-right: 1.5em !important;
}

.md-3 {
  margin-right: 2em !important;
}

.md-4 {
  margin-right: 2.5em !important;
}

.md-5 {
  margin-right: 3em !important;
}

.md-6 {
  margin-right: 3.5em !important;
}

.md-7 {
  margin-right: 4em !important;
}

.md-8 {
  margin-right: 4.5em !important;
}

.md-9 {
  margin-right: 5em !important;
}

.md-10 {
  margin-right: 5.5em !important;
}

.md-11 {
  margin-right: 6em !important;
}

.md-12 {
  margin-right: 6.5em !important;
}

.md-13 {
  margin-right: 7em !important;
}

.md-14 {
  margin-right: 7.5em !important;
}

.md-15 {
  margin-right: 8em !important;
}

.mar-1 {
  margin-top: 1em !important;
}

.mar-2 {
  margin-top: 1.5em !important;
}

.mar-3 {
  margin-top: 2em !important;
}

.mar-4 {
  margin-top: 2.5em !important;
}

.mar-5 {
  margin-top: 3em !important;
}

.mar-6 {
  margin-top: 3.5em !important;
}

.mar-7 {
  margin-top: 4em !important;
}

.mar-8 {
  margin-top: 4.5em !important;
}

.mar-9 {
  margin-top: 5em !important;
}

.mar-10 {
  margin-top: 5.5em !important;
}

.mar-11 {
  margin-top: 6em !important;
}

.mar-12 {
  margin-top: 6.5em !important;
}

.mar-13 {
  margin-top: 7em !important;
}

.mar-14 {
  margin-top: 7.5em !important;
}

.mar-15 {
  margin-top: 8em !important;
}

.mab-1 {
  margin-bottom: 1em !important;
}

.mab-2 {
  margin-bottom: 1.5em !important;
}

.mab-3 {
  margin-bottom: 2em !important;
}

.mab-4 {
  margin-bottom: 2.5em !important;
}

.mab-5 {
  margin-bottom: 3em !important;
}

.mab-6 {
  margin-bottom: 3.5em !important;
}

.mab-7 {
  margin-bottom: 4em !important;
}

.mab-8 {
  margin-bottom: 4.5em !important;
}

.mab-9 {
  margin-bottom: 5em !important;
}

.mab-10 {
  margin-bottom: 5.5em !important;
}

.mab-11 {
  margin-bottom: 6em !important;
}

.mab-12 {
  margin-bottom: 6.5em !important;
}

.mab-13 {
  margin-bottom: 7em !important;
}

.mab-14 {
  margin-bottom: 7.5em !important;
}

.mab-15 {
  margin-bottom: 8em !important;
}

/* Colores Botones */
/* Fondos */
/***********************************************************************************
    Colores de fondo para los componentes
*/
/***
    Fondos color rojo
*/
.fd-rojo {
  background-color: #bb1818 !important;
}

.fd-rojo-c {
  background-color: #f51515 !important;
}

.fd-rojo-o {
  background-color: #500000 !important;
}

.fd-rojo-t {
  background-color: rgba(187, 24, 24, 0.644) !important;
}

/**********************************************************************/
.fd-azul {
  background-color: #1045b7 !important;
}

.fd-azul-c {
  background-color: #006cff !important;
}

.fd-azul-o {
  background-color: #002066 !important;
}

.fd-azul-ve {
  background-color: #06263f !important;
}

.fd-azul-ve-s {
  background-color: #002c38 !important;
}

.fd-azul-ve-c {
  background-color: #134350 !important;
}

.fd-azul-t {
  background-color: rgba(16, 69, 183, 0.5) !important;
}

/*************************************************
    Verder
*/
.fd-verde {
  background-color: #006e5c !important;
}

.fd-verde-c {
  background-color: #00bb9c !important;
}

.fd-verde-o {
  background-color: #073a31 !important;
}

.fd-verde-t {
  background-color: rgba(0, 110, 92, 0.5) !important;
}

.fd-verde-az {
  background-color: #002a30 !important;
}

/******************************************/
.fd-gris {
  background-color: gray !important;
}

.fd-gris-c {
  background-color: #ececec !important;
}

.fd-gris-o {
  background-color: #212121 !important;
}

.fd-gris-t {
  background-color: rgba(128, 128, 128, 0.5) !important;
}

.fd-gris-az {
  background-color: #1e2029 !important;
}

.fd-gris-az-c {
  background-color: #282e42 !important;
}

.fd-gris-az-o {
  background-color: #15161a !important;
}

.fd-gris-n {
  background-color: #111111 !important;
}

.fd-blanco {
  background-color: white !important;
}

.fd-negro {
  background-color: black !important;
}

/*Grilla */
/****
    Grilla para acomodar los elementos dentro del sitio
    Contiene 4 medidas disponibles
    cxs: MxtraSmall para dispositivos de 400px de ancho max
    cs: Small para dispositivos de 768px de ancho max
    cm: Medium para dispositivos de 1100px de ancho max
    cl: Large para dispositivos de mas de 1100px de ancho max
*/
.fila {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr) !important;
}
.fila .cxs-1 {
  grid-column: span 1 !important;
}
.fila .cxs-2 {
  grid-column: span 2 !important;
}
.fila .cxs-3 {
  grid-column: span 3 !important;
}
.fila .cxs-4 {
  grid-column: span 4 !important;
}
.fila .cxs-5 {
  grid-column: span 5 !important;
}
.fila .cxs-6 {
  grid-column: span 6 !important;
}
.fila .cxs-7 {
  grid-column: span 7 !important;
}
.fila .cxs-8 {
  grid-column: span 8 !important;
}
.fila .cxs-9 {
  grid-column: span 9 !important;
}
.fila .cxs-10 {
  grid-column: span 10 !important;
}
.fila .cxs-11 {
  grid-column: span 11 !important;
}
.fila .cxs-12 {
  grid-column: span 12 !important;
}
.fila .cs-1 {
  grid-column: span 1 !important;
}
.fila .cs-2 {
  grid-column: span 2 !important;
}
.fila .cs-3 {
  grid-column: span 3 !important;
}
.fila .cs-4 {
  grid-column: span 4 !important;
}
.fila .cs-5 {
  grid-column: span 5 !important;
}
.fila .cs-6 {
  grid-column: span 6 !important;
}
.fila .cs-7 {
  grid-column: span 7 !important;
}
.fila .cs-8 {
  grid-column: span 8 !important;
}
.fila .cs-9 {
  grid-column: span 9 !important;
}
.fila .cs-10 {
  grid-column: span 10 !important;
}
.fila .cs-11 {
  grid-column: span 11 !important;
}
.fila .cs-12 {
  grid-column: span 12 !important;
}
.fila .cm-1 {
  grid-column: span 1 !important;
}
.fila .cm-2 {
  grid-column: span 2 !important;
}
.fila .cm-3 {
  grid-column: span 3 !important;
}
.fila .cm-4 {
  grid-column: span 4 !important;
}
.fila .cm-5 {
  grid-column: span 5 !important;
}
.fila .cm-6 {
  grid-column: span 6 !important;
}
.fila .cm-7 {
  grid-column: span 7 !important;
}
.fila .cm-8 {
  grid-column: span 8 !important;
}
.fila .cm-9 {
  grid-column: span 9 !important;
}
.fila .cm-10 {
  grid-column: span 10 !important;
}
.fila .cm-11 {
  grid-column: span 11 !important;
}
.fila .cm-12 {
  grid-column: span 12 !important;
}
.fila .cl-1 {
  grid-column: span 1 !important;
}
.fila .cl-2 {
  grid-column: span 2 !important;
}
.fila .cl-3 {
  grid-column: span 3 !important;
}
.fila .cl-4 {
  grid-column: span 4 !important;
}
.fila .cl-5 {
  grid-column: span 5 !important;
}
.fila .cl-6 {
  grid-column: span 6 !important;
}
.fila .cl-7 {
  grid-column: span 7 !important;
}
.fila .cl-8 {
  grid-column: span 8 !important;
}
.fila .cl-9 {
  grid-column: span 9 !important;
}
.fila .cl-10 {
  grid-column: span 10 !important;
}
.fila .cl-11 {
  grid-column: span 11 !important;
}
.fila .cl-12 {
  grid-column: span 12 !important;
}
@media (max-width: 1100px) {
  .fila .cxs-1 {
    grid-column: span 1 !important;
  }
  .fila .cxs-2 {
    grid-column: span 2 !important;
  }
  .fila .cxs-3 {
    grid-column: span 3 !important;
  }
  .fila .cxs-4 {
    grid-column: span 4 !important;
  }
  .fila .cxs-5 {
    grid-column: span 5 !important;
  }
  .fila .cxs-6 {
    grid-column: span 6 !important;
  }
  .fila .cxs-7 {
    grid-column: span 7 !important;
  }
  .fila .cxs-8 {
    grid-column: span 8 !important;
  }
  .fila .cxs-9 {
    grid-column: span 9 !important;
  }
  .fila .cxs-10 {
    grid-column: span 10 !important;
  }
  .fila .cxs-11 {
    grid-column: span 11 !important;
  }
  .fila .cxs-12 {
    grid-column: span 12 !important;
  }
  .fila .cs-1 {
    grid-column: span 1 !important;
  }
  .fila .cs-2 {
    grid-column: span 2 !important;
  }
  .fila .cs-3 {
    grid-column: span 3 !important;
  }
  .fila .cs-4 {
    grid-column: span 4 !important;
  }
  .fila .cs-5 {
    grid-column: span 5 !important;
  }
  .fila .cs-6 {
    grid-column: span 6 !important;
  }
  .fila .cs-7 {
    grid-column: span 7 !important;
  }
  .fila .cs-8 {
    grid-column: span 8 !important;
  }
  .fila .cs-9 {
    grid-column: span 9 !important;
  }
  .fila .cs-10 {
    grid-column: span 10 !important;
  }
  .fila .cs-11 {
    grid-column: span 11 !important;
  }
  .fila .cs-12 {
    grid-column: span 12 !important;
  }
  .fila .cm-1 {
    grid-column: span 1 !important;
  }
  .fila .cm-2 {
    grid-column: span 2 !important;
  }
  .fila .cm-3 {
    grid-column: span 3 !important;
  }
  .fila .cm-4 {
    grid-column: span 4 !important;
  }
  .fila .cm-5 {
    grid-column: span 5 !important;
  }
  .fila .cm-6 {
    grid-column: span 6 !important;
  }
  .fila .cm-7 {
    grid-column: span 7 !important;
  }
  .fila .cm-8 {
    grid-column: span 8 !important;
  }
  .fila .cm-9 {
    grid-column: span 9 !important;
  }
  .fila .cm-10 {
    grid-column: span 10 !important;
  }
  .fila .cm-11 {
    grid-column: span 11 !important;
  }
  .fila .cm-12 {
    grid-column: span 12 !important;
  }
}
@media (max-width: 768px) {
  .fila .cxs-1 {
    grid-column: span 1 !important;
  }
  .fila .cxs-2 {
    grid-column: span 2 !important;
  }
  .fila .cxs-3 {
    grid-column: span 3 !important;
  }
  .fila .cxs-4 {
    grid-column: span 4 !important;
  }
  .fila .cxs-5 {
    grid-column: span 5 !important;
  }
  .fila .cxs-6 {
    grid-column: span 6 !important;
  }
  .fila .cxs-7 {
    grid-column: span 7 !important;
  }
  .fila .cxs-8 {
    grid-column: span 8 !important;
  }
  .fila .cxs-9 {
    grid-column: span 9 !important;
  }
  .fila .cxs-10 {
    grid-column: span 10 !important;
  }
  .fila .cxs-11 {
    grid-column: span 11 !important;
  }
  .fila .cxs-12 {
    grid-column: span 12 !important;
  }
  .fila .cs-1 {
    grid-column: span 1 !important;
  }
  .fila .cs-2 {
    grid-column: span 2 !important;
  }
  .fila .cs-3 {
    grid-column: span 3 !important;
  }
  .fila .cs-4 {
    grid-column: span 4 !important;
  }
  .fila .cs-5 {
    grid-column: span 5 !important;
  }
  .fila .cs-6 {
    grid-column: span 6 !important;
  }
  .fila .cs-7 {
    grid-column: span 7 !important;
  }
  .fila .cs-8 {
    grid-column: span 8 !important;
  }
  .fila .cs-9 {
    grid-column: span 9 !important;
  }
  .fila .cs-10 {
    grid-column: span 10 !important;
  }
  .fila .cs-11 {
    grid-column: span 11 !important;
  }
  .fila .cs-12 {
    grid-column: span 12 !important;
  }
}
@media (max-width: 400px) {
  .fila .cxs-1 {
    grid-column: span 1 !important;
  }
  .fila .cxs-2 {
    grid-column: span 2 !important;
  }
  .fila .cxs-3 {
    grid-column: span 3 !important;
  }
  .fila .cxs-4 {
    grid-column: span 4 !important;
  }
  .fila .cxs-5 {
    grid-column: span 5 !important;
  }
  .fila .cxs-6 {
    grid-column: span 6 !important;
  }
  .fila .cxs-7 {
    grid-column: span 7 !important;
  }
  .fila .cxs-8 {
    grid-column: span 8 !important;
  }
  .fila .cxs-9 {
    grid-column: span 9 !important;
  }
  .fila .cxs-10 {
    grid-column: span 10 !important;
  }
  .fila .cxs-11 {
    grid-column: span 11 !important;
  }
  .fila .cxs-12 {
    grid-column: span 12 !important;
  }
}

/*Componentes */
.dropdown-toggle {
  position: relative !important;
  display: block !important;
  padding-right: 40px !important;
  min-width: 120px !important;
}

.dropdown {
  position: absolute !important;
  color: black !important;
  min-width: 170px !important;
  background-color: #ebebeb !important;
  border-radius: 2px !important;
  border: 1px solid black !important;
  bottom: calc(width) !important;
  text-align: left !important;
  z-index: 10 !important;
  display: none;
}

.dropdown ul {
  list-style: none;
  width: 100% !important;
}

.dropdown ul li {
  display: block;
  width: 100%;
}

.dropdown ul li a {
  width: 100%;
  display: block !important;
  color: black !important;
  padding: 5px 10px !important;
  font-size: 0.9em !important;
}

.dropdown ul li a:hover {
  background-color: rgba(0, 0, 0, 0.411);
}

.f-abajo {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  right: 20px;
  top: calc(50% - 5px);
}

.f-derecha {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid white;
  border-bottom: 5px solid transparent;
  right: 20px;
  top: calc(49% - 5px);
}

.waves {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.efecto-waves {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.6;
  padding: 0;
  margin: 0;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
}

/**
    Estilos de botones
    Tres tamaños btn-sm btm btm-lg
*****************************************************************/
.btn,
.btn-lg,
.btn-sm,
.btn-cubrir,
.btn-cubrir-sm,
.btn-cubrir-lg {
  outline: none;
  border: none;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.btn:hover,
.btn-lg:hover,
.btn-sm:hover {
  z-index: 2;
}

.btn {
  padding: 9px 25px !important;
  font-size: 1.2em;
  max-width: 140px !important;
  max-height: 40px !important;
  min-width: 130px;
}

.btn-lg {
  padding: 15px 40px !important;
  font-size: 1.3em;
  max-width: 160px !important;
  max-height: 45px !important;
  min-width: 150px;
}

.btn-sm {
  padding: 5px 18px !important;
  font-size: 1.1em;
  max-width: 120px !important;
  max-height: 35px !important;
  min-width: 110px;
}

.btn-cubrir-sm {
  padding: 5px 18px !important;
  font-size: 1.1em;
  display: block;
  width: 90%;
  margin: auto;
}

.btn-cubrir {
  padding: 9px 25px !important;
  font-size: 1.2em;
  display: block;
  width: 90%;
  margin: auto;
}

.btn-cubrir-lg {
  padding: 15px 40px !important;
  font-size: 1.3em;
  display: block;
  width: 90%;
  margin: auto;
}

.btn-rojo {
  background-color: #bb1818;
  color: white;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-rojo:hover {
  background-color: #a12323;
}

.btn-rojo:active {
  background-color: #bb1818;
}

.btn-verde {
  background-color: #009c80;
  color: white;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-verde:hover {
  background-color: #00886f;
}

.btn-verde:active {
  background-color: #009c80;
}

.btn-azul {
  background-color: #006cff;
  color: white;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-azul:hover {
  background-color: #0054c9;
}

.btn-azul:active {
  background-color: #006cff;
}

.btn-gris {
  background-color: dimgray;
  color: white;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-gris:hover {
  background-color: #3f3f3f;
}

.btn-gris:active {
  background-color: #0a0a0a;
}

.btn-negro {
  background-color: #1a1b24;
  color: white;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-negro:hover {
  background-color: black;
}

.btn-negro:active {
  background-color: black;
}

/******************************************
    Botones sin color de fondo
********************************************/
.btn-rojo-o {
  border: 1px solid #bb1818;
  color: #bb1818;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-rojo-o:hover {
  background-color: #a12323;
  color: white;
  box-shadow: 0 0 3px 3px rgba(143, 0, 0, 0.5);
}

.btn-rojo-o:active {
  background-color: #bb1818;
}

.btn-verde-o {
  border: 1px solid #009c80;
  color: #009c80;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-verde-o:hover {
  background-color: #00886f;
  color: white;
  box-shadow: 0 0 3px 3px rgba(0, 156, 128, 0.5);
}

.btn-verde-o:active {
  background-color: #009c80;
}

.btn-azul-o {
  border: 1px solid #006cff;
  color: #006cff;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-azul-o:hover {
  background-color: #0054c9;
  color: white;
  box-shadow: 0 0 3px 3px rgba(0, 108, 255, 0.5);
}

.btn-azul-o:active {
  background-color: #006cff;
}

.btn-gris-o {
  border: 1px solid #212121;
  color: #212121;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-gris-o:hover {
  background-color: #3f3f3f;
  color: white;
}

.btn-gris-o:active {
  background-color: #0f0f0f;
}

.btn-negro-o {
  border: 1px solid black;
  color: black;
  font-size: 1.1em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-negro-o:hover {
  background-color: black;
  color: white;
}

.btn-negro-o:active {
  background-color: #0f0f0f;
}

.btn-blanco-o {
  border: 1px solid white;
  color: white;
  font-size: 1.1em;
}

.btn-blanco-o:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 3px 3px rgba(212, 212, 212, 0.5);
}

/***
    Botones estilo desabilidado
*/
.disabilitado {
  background: #ececec !important;
  color: gray !important;
  cursor: default !important;
  box-shadow: none !important;
}

.disabilitado:hover {
  box-shadow: none !important;
}

/**
    Input de tipo texto e email
    con la clase validación para poder mostrar 
    que la informacion del campo es erronea
*/
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=url] {
  outline: none;
  height: 2.1em;
  width: 100%;
  border: 1px solid #a3a3a3;
  padding: 0.6em;
  border-radius: 3px;
  font-size: 1.1em;
  font-family: "HelveticaNeue", Helvetica, sans-serif;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=url]:focus {
  box-shadow: 0 0 0 3px rgba(135, 217, 255, 0.3);
  border: 1px solid #87d9ff;
  z-index: 2;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=url]::placeholder {
  color: grey;
}

.i-error {
  box-shadow: 0 0 3px 3px rgba(253, 61, 61, 0.5);
  z-index: 2;
}

.check-radio-grupo input[type=checkbox],
.check-radio-grupo input[type=radio] {
  display: none;
}

.cb-rojo,
.cb-azul,
.cb-verde,
.cb-gris,
.cb-negro,
.cb-blanco,
.rd-rojo,
.rd-azul,
.rd-verde,
.rd-gris,
.rd-negro,
.rd-blanco {
  display: inline-block;
  font-size: 17px;
  padding: 0.5em;
  padding-right: 17px;
  padding-left: 51px;
  position: relative;
  background-color: rgba(255, 0, 0, 0.404);
  border-radius: 4px;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  user-select: none;
  max-width: 250px;
}

.cb-azul,
.rd-azul {
  background-color: rgba(17, 101, 226, 0.39);
}

.cb-verde,
.rd-verde {
  background-color: rgba(2, 194, 146, 0.39);
}

.cb-gris,
.rd-gris {
  background-color: rgba(212, 212, 212, 0.39);
}

.cb-negro,
.rd-negro {
  background-color: rgba(0, 0, 0, 0.199);
}

.cb-blanco,
.rd-blanco {
  background-color: rgba(255, 255, 255, 0.397);
  color: black;
}

.cb-rojo::before,
.cb-verde::before,
.cb-azul::before,
.cb-gris::before,
.cb-negro::before,
.cb-blanco::before,
.rd-rojo::before,
.rd-verde::before,
.rd-azul::before,
.rd-gris::before,
.rd-negro::before,
.rd-blanco::before {
  content: "";
  position: absolute;
  height: 17px;
  width: 17px;
  border: 2px solid red;
  border-radius: 4px;
  left: 17px;
}

.rd-rojo::before,
.rd-verde::before,
.rd-azul::before,
.rd-gris::before,
.rd-negro::before,
.rd-blanco::before {
  content: "";
  border-radius: 50%;
}

.cb-verde::before {
  content: "";
  border: 2px solid #02c292;
}

.rd-verde::before {
  content: "";
  border: 2px solid #02c292;
}

.cb-azul::before {
  content: "";
  border: 2px solid #1165e2;
}

.rd-azul::before {
  content: "";
  border: 2px solid #1165e2;
}

.cb-gris::before {
  content: "";
  border: 2px solid #d4d4d4;
}

.rd-gris::before {
  content: "";
  border: 2px solid #d4d4d4;
}

.cb-negro::before {
  content: "";
  border: 2px solid black;
}

.rd-negro::before {
  content: "";
  border: 2px solid black;
}

.cb-blanco::before {
  content: "";
  border: 2px solid black;
}

.rd-blanco::before {
  content: "";
  border: 2px solid black;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-rojo::before,
.check-radio-grupo input[type=checkbox]:checked + .cb-verde::before,
.check-radio-grupo input[type=checkbox]:checked + .cb-azul::before,
.check-radio-grupo input[type=checkbox]:checked + .cb-gris::before,
.check-radio-grupo input[type=checkbox]:checked + .cb-negro::before,
.check-radio-grupo input[type=checkbox]:checked + .cb-blanco::before,
.check-radio-grupo input[type=radio]:checked + .rd-rojo::before,
.check-radio-grupo input[type=radio]:checked + .rd-verde::before,
.check-radio-grupo input[type=radio]:checked + .rd-azul::before,
.check-radio-grupo input[type=radio]:checked + .rd-gris::before,
.check-radio-grupo input[type=radio]:checked + .rd-negro::before,
.check-radio-grupo input[type=radio]:checked + .rd-blanco::before {
  display: none;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-rojo,
.check-radio-grupo input[type=checkbox]:checked + .cb-verde,
.check-radio-grupo input[type=checkbox]:checked + .cb-azul,
.check-radio-grupo input[type=checkbox]:checked + .cb-gris,
.check-radio-grupo input[type=checkbox]:checked + .cb-negro,
.check-radio-grupo input[type=checkbox]:checked + .cb-blanco,
.check-radio-grupo input[type=radio]:checked + .rd-rojo,
.check-radio-grupo input[type=radio]:checked + .rd-verde,
.check-radio-grupo input[type=radio]:checked + .rd-azul,
.check-radio-grupo input[type=radio]:checked + .rd-gris,
.check-radio-grupo input[type=radio]:checked + .rd-negro,
.check-radio-grupo input[type=radio]:checked + .rd-blanco {
  padding-left: 34px;
  padding-right: 34px;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-rojo,
.check-radio-grupo input[type=radio]:checked + .rd-rojo {
  background-color: red;
  color: white;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-verde,
.check-radio-grupo input[type=radio]:checked + .rd-verde {
  background-color: #02c292;
  color: white;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-azul,
.check-radio-grupo input[type=radio]:checked + .rd-azul {
  background-color: #1165e2;
  color: white;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-gris,
.check-radio-grupo input[type=radio]:checked + .rd-gris {
  background-color: #d4d4d4;
  color: black;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-negro,
.check-radio-grupo input[type=radio]:checked + .rd-negro {
  background-color: black;
  color: white;
}

.check-radio-grupo input[type=checkbox]:checked + .cb-blanco,
.check-radio-grupo input[type=radio]:checked + .rd-blanco {
  background-color: white;
  color: black;
}

/**
    Grupos de Input personalizador por la libreria 
    span + input 
*/
.g-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g-input span {
  display: inline-block;
  letter-spacing: 0;
  height: 1.93em;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  color: #333333;
  background: #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.g-input-caja-izquierda input[type=text],
.g-input-caja-izquierda input[type=email],
.g-input-caja-izquierda input[type=number],
.g-input-caja-izquierda input[type=password],
.g-input-caja-izquierda input[type=url] {
  border-radius: 0 0.2em 0.2em 0;
}
.g-input-caja-izquierda span {
  border-radius: 0.5em 0 0 0.5em;
}

.g-input-caja-derecha input[type=text],
.g-input-caja-derecha input[type=email],
.g-input-caja-derecha input[type=number],
.g-input-caja-derecha input[type=password],
.g-input-caja-derecha input[type=url] {
  border-radius: 0.2em 0 0 0.2em;
}
.g-input-caja-derecha span {
  border-radius: 0 0.5em 0.5em 0;
}

/*
    Ventanas modal 
*/
.modal {
  /* Posicionamiento del fondo */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Fondo con poca opacidad*/
  background-color: rgba(0, 0, 0, 0.5);
  /* Por encima de los elementos*/
  z-index: 1;
  /* Display para ubicar elementos*/
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.modal .modal-ventana {
  padding: 1.5em;
  background-color: #ececec;
  z-index: 4;
  border-radius: 3px;
  box-shadow: 0 0 15px 5px #5e5e5e;
}
.modal .modal-ventana h3 {
  font-weight: 200;
  margin-bottom: 20px;
}
.modal .complemento {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal1 {
  /* Posicionamiento del fondo */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Fondo con poca opacidad*/
  background-color: rgba(0, 0, 0, 0.5);
  /* Por encima de los elementos*/
  z-index: 1;
  /* Display para ubicar elementos*/
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.modal1 .modal-ventana {
  padding: 1.5em;
  background-color: #ececec;
  z-index: 4;
  border-radius: 3px;
  box-shadow: 0 0 15px 5px #5e5e5e;
  min-width: 350px;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.modal1 .modal-ventana .contenido {
  border: 1px solid lightgrey;
  border-radius: 10px;
  overflow: auto;
}
.modal1 .modal-ventana .contenido .cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 0.8em;
}
.modal1 .modal-ventana .contenido .cabecera h3 {
  font-size: 1.1em;
  width: 90%;
  font-weight: 600;
}
.modal1 .modal-ventana .contenido .cabecera span {
  font-size: 1em;
  width: 10%;
  text-align: right;
  font-weight: 600;
  cursor: pointer;
}
.modal1 .modal-ventana .contenido .cuerpo {
  border-bottom: 1px solid lightgrey;
  padding: 0.8em;
  overflow: auto;
  border-bottom: 1px solid lightgrey;
}
.modal1 .modal-ventana .contenido .cuerpo p {
  font-size: 1em;
  line-height: 23px;
}
.modal1 .modal-ventana .contenido .controles {
  display: flex;
  padding: 0.8em;
  justify-content: right;
}

.modal-registro {
  /* Posicionamiento del fondo */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Fondo con poca opacidad*/
  background-color: rgba(0, 0, 0, 0.5);
  /* Por encima de los elementos*/
  z-index: 1;
  /* Display para ubicar elementos*/
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.modal-registro .modal-ventana {
  padding: 1.5em;
  background-color: #ececec;
  z-index: 4;
  border-radius: 3px;
  box-shadow: 0 0 15px 5px #5e5e5e;
  min-width: 300px;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.modal-registro .modal-ventana .contenido {
  border: 1px solid lightgrey;
  border-radius: 10px;
  overflow: auto;
}
.modal-registro .modal-ventana .contenido .cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 0.8em;
}
.modal-registro .modal-ventana .contenido .cabecera h3 {
  font-size: 1.1em;
  width: 90%;
  font-weight: 600;
}
.modal-registro .modal-ventana .contenido .registro {
  padding: 1em;
}
.modal-registro .modal-ventana .contenido .registro .modal-control {
  padding: 0.5em 1em;
}
.modal-registro .modal-ventana .contenido .modal-botones {
  padding: 1em 1em;
  border-top: 1px solid lightgrey;
}

/***
    Nav responsive para paginas principales
    Incluye barra lateral
*/
.menu-superior {
  /* Propiedades de toda la barra de menu*/
  width: 100%;
  height: 3em;
  max-height: 3.5em;
  user-select: none;
  position: fixed;
  background-color: #06263f;
}
.menu-superior .menu-contenedor {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr) !important;
  align-items: center;
  margin: auto;
}
.menu-superior .menu-contenedor .menu-nav-icono {
  grid-column-start: 1;
  grid-column-end: 6;
}
.menu-superior .menu-contenedor .menu-nav-icono a {
  color: white;
  font-size: 1.3em;
  font-weight: 700;
}
.menu-superior .menu-contenedor .menu-listado {
  grid-column-start: 12;
  grid-column-end: 12;
}
.menu-superior .menu-contenedor .menu-listado .lista {
  display: flex;
  align-items: center;
}
.menu-superior .menu-contenedor .menu-listado .lista li a {
  display: block;
  padding: 0.9em 1.2em;
  color: white;
}
.menu-superior .menu-contenedor .menu-listado .lista li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-superior .menu-contenedor .menu-listado label {
  display: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .menu-superior .menu-contenedor .menu-listado .lista {
    display: none;
  }
  .menu-superior .menu-contenedor .menu-listado label {
    display: block;
  }
}

.menu-lateral {
  /* Abarca todo el contenido de la página */
  width: 100%;
  height: 100%;
  /* Baja a medida que el usuario hace scroll hacia abajo*/
  position: fixed;
  /* Flex box*/
  display: flex;
  background-color: rgba(0, 0, 0, 0.445);
  z-index: 1;
  /* Se muestra por encima de los elemntos de la pagina*/
  /** Medidas Ocupa todo de punta a punta*/
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* Por defecto no es visible */
  display: none;
}
.menu-lateral .menu-listado-lateral {
  width: 240px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: -240px;
  transition: 0.5s all;
  padding-top: 3em;
  background-color: #06263f;
}
.menu-lateral .menu-listado-lateral li a {
  display: block;
  padding: 0.6em 0.8em;
  color: white;
}
.menu-lateral .menu-listado-lateral li a:hover {
  background-color: rgba(0, 0, 0, 0.384);
}
.menu-lateral .complemento {
  width: 100%;
  height: 100%;
  z-index: 3;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu-listado-lateral {
  left: 0px;
}

/**
    Sidebar para aplicaciones web con menus acordeon 

*/
.sidebar {
  user-select: none;
}
.sidebar .sidebar-cabecera {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.8em;
  color: white;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background-color: #06263f;
}
.sidebar .sidebar-cabecera label[for=toggle] {
  width: 100%;
  cursor: pointer;
}
.sidebar .sidebar-menu {
  width: 240px;
  position: fixed;
  left: -240px;
  bottom: 0;
  top: 0;
  transition: 0.5s all;
  overflow: auto;
  background-color: #15161a;
}
.sidebar .sidebar-menu .logo {
  padding: 0.475em;
  display: flex;
  text-align: center;
  color: white;
  font-size: 1.6em;
  font-weight: 700;
  background-color: #06263f;
}
.sidebar .sidebar-menu .item .titulo {
  padding: 0.5em;
  color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .sidebar-menu .item .titulo span {
  width: 90%;
}
.sidebar .sidebar-menu .item ul {
  background-color: #134350;
  border-bottom: 1px solid white;
  display: none;
  background-color: #06263f;
}
.sidebar .sidebar-menu .item ul li a {
  display: block;
  color: white;
  padding: 0.7em 0.5em;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.sidebar .sidebar-menu .item ul li a:hover {
  background-color: rgba(0, 0, 0, 0.466);
}
.sidebar #toggle:checked ~ .sidebar-menu {
  left: 0;
}
.sidebar #toggle:checked ~ .sidebar-cabecera {
  left: 240px;
  width: calc(100% - 240px);
}

/*# sourceMappingURL=bodystyle.css.map */
