.pruebaColores {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.pruebaColores div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.pruebaColores div a {
    margin: 10px;
}