/**
    Alineamiento de elementos dentro de un contenedor
    Teniendo en cuenta que 1em = 16px
*/

/**
    Clase contenedor para centrar el contenido dentro de la pagina
*/
.contenedor {
    width: 70% ;
    margin: auto ;
}


.contenedor {
    @include agregar-a-medida-maxima(m){
        width: 75% ;
        margin: auto;
    }  
}

.contenedor {
    @include agregar-a-medida-maxima(s){
        width: 80% ;
        margin: auto ;
    }  
}

.contenedor {
    @include agregar-a-medida-maxima(xs){
        width: 90% ;
        margin: auto ;
    }  
}
/***
    Utilizando flexbox para centrar el contenido
    del contenedor
*/
.a-items-cent, 
.a-items-just,
.a-items-cent-just {
    display: flex !important;
}

.a-items-cent {
    align-items: center !important;
}
.a-items-just {
    justify-content: center !important;
}

.a-items-cent-just {
    align-items: center !important;
    justify-content: center !important;
}


@function inicializarVariable() {
    @return 0;
}

@function incrementar($var) {
    @return $var + 0.5;
}



// Clases para agregarle padding a los elementos
$p: inicializarVariable();
@for $i from 0 through 15 {
    .p-#{$i} { 
        padding: #{$p}em !important;
    }
    $p: incrementar($p);
} 

$p: inicializarVariable();
@for $i from 0 through 15 {
    .pi-#{$i} { 
        padding-left: #{$p}em !important;
    }
    $p: incrementar($p);
} 

$p: inicializarVariable();
@for $i from 0 through 15 {
    .pd-#{$i} { 
        padding-right: #{$p}em !important;
    }
    $p: incrementar($p);
}

$p: inicializarVariable();
@for $i from 0 through 15 {
    .pab-#{$i} { 
        padding-bottom: #{$p}em !important;
    }
    $p: incrementar($p);
}

$p: inicializarVariable();
@for $i from 0 through 15 {
    .par-#{$i} { 
        padding-top: #{$p}em !important;
    }
    $p: incrementar($p);
}

$m: inicializarVariable();
@for $i from 0 through 15 {
    .m-#{$i} { 
        margin: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 0 through 15 {
    .mi-#{$i} { 
        margin-left: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 0 through 15 {
    .md-#{$i} { 
        margin-right: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 0 through 15 {
    .mar-#{$i} { 
        margin-top: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 0 through 15 {
    .mab-#{$i} { 
        margin-bottom: #{$m}em !important;
    }
    $m: incrementar($m);
}

.m-a {
    margin:auto;
}

@media (max-width: dameMedida(m)){
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .m-m-#{$i} { 
            margin: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mi-m-#{$i} { 
            margin-left: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .md-m-#{$i} { 
            margin-right: #{$m}em !important;
        }
        $m: incrementar($m);
    }

    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mab-m-#{$i} { 
            margin-bottom: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mar-m-#{$i} { 
            margin-top: #{$m}em !important;
        }
        $m: incrementar($m);
    }

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .p-m-#{$i} { 
            padding: #{$p}em !important;
        }
        $p: incrementar($p);
    } 
    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pi-m-#{$i} { 
            padding-left: #{$p}em !important;
        }
        $p: incrementar($p);
    } 

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pd-m-#{$i} { 
            padding-right: #{$p}em !important;
        }
        $p: incrementar($p);
    }

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pab-m-#{$i} { 
            padding-bottom: #{$p}em !important;
        }
        $p: incrementar($p);
    }

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .par-m-#{$i} { 
            padding-top: #{$p}em !important;
        }
        $p: incrementar($p);
    }
}

@media (max-width: dameMedida(s)){
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .m-s-#{$i} { 
            margin: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mi-s-#{$i} { 
            margin-left: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .md-s-#{$i} { 
            margin-right: #{$m}em !important;
        }
        $m: incrementar($m);
    }

    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mab-s-#{$i} { 
            margin-bottom: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mar-s-#{$i} { 
            margin-top: #{$m}em !important;
        }
        $m: incrementar($m);
    }


    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .p-s-#{$i} { 
            padding: #{$p}em !important;
        }
        $p: incrementar($p);
    } 
    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pi-s-#{$i} { 
            padding-left: #{$p}em !important;
        }
        $p: incrementar($p);
    } 

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pd-s-#{$i} { 
            padding-right: #{$p}em !important;
        }
        $p: incrementar($p);
    }

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pab-s-#{$i} { 
            padding-bottom: #{$p}em !important;
        }
        $p: incrementar($p);
    }

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .par-s-#{$i} { 
            padding-top: #{$p}em !important;
        }
        $p: incrementar($p);
    }
}

@media (max-width: dameMedida(xs)){
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .m-xs-#{$i} { 
            margin: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mi-xs-#{$i} { 
            margin-left: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .md-xs-#{$i} { 
            margin-right: #{$m}em !important;
        }
        $m: incrementar($m);
    }

    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mab-xs-#{$i} { 
            margin-bottom: #{$m}em !important;
        }
        $m: incrementar($m);
    }
    $m: inicializarVariable();
    @for $i from 0 through 15 {
        .mar-xs-#{$i} { 
            margin-top: #{$m}em !important;
        }
        $m: incrementar($m);
    }


    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .p-xs-#{$i} { 
            padding: #{$p}em !important;
        }
        $p: incrementar($p);
    } 
    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pi-xs-#{$i} { 
            padding-left: #{$p}em !important;
        }
        $p: incrementar($p);
    } 

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pd-xs-#{$i} { 
            padding-right: #{$p}em !important;
        }
        $p: incrementar($p);
    }

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .pab-xs-#{$i} {
            padding-bottom: #{$p}em !important;
        }
        $p: incrementar($p);
    }

    $p: inicializarVariable();
    @for $i from 0 through 15 {
        .par-xs-#{$i} { 
            padding-top: #{$p}em !important;
        }
        $p: incrementar($p);
    }
}

/****
    Display flex 
*/
.d-flex {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
}

/****

    Display flex tipos

*/
.flex-fila {
    flex-direction: row;
}

.flex-columna {
    flex-direction: column;
}

.flex-fila-reversa {
    flex-direction: row-reverse;
}

.flex-columna-reversa {
    flex-direction: column-reverse;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reversa {
    flex-wrap: wrap-reverse;
}


/***
    Justificación 
*/
.just-inicio {
    justify-content: flex-start;
}

.just-final {
    justify-content: flex-end;
}

.just-centrada {
    justify-content: center;
}

.just-cobertura {
    justify-content: space-around;
}

.just-cobertura-tope {
    justify-content: space-between;
}

/***
    Alineamiento
*/

.ali-centrada {
    align-items: center;
}

.ali-inicio {
    align-items: flex-start;
}

.ali-final {
    align-items: flex-end;
}

.ali-fuente {
    align-items: baseline;
}

.ali-cobertura {
    align-items: stretch;
}

.ali-contenido-centrada {
    align-content: center;
}

.ali-contenido-inicio {
    align-content: flex-start;
}

.ali-contenido-final {
    align-content: flex-end;
}

.ali-contenido-cobertura {
    align-content: stretch;
}




