/**
    Alineamiento de elementos dentro de un contenedor
    Teniendo en cuenta que 1em = 16px
*/

/**
    Clase contenedor para centrar el contenido dentro de la pagina
*/
.contenedor {
    width: 70% ;
    margin: auto ;
}


.contenedor {
    @include agregar-a-medida-maxima(m){
        width: 75% ;
        margin: auto;
    }  
}

.contenedor {
    @include agregar-a-medida-maxima(s){
        width: 80% ;
        margin: auto ;
    }  
}

.contenedor {
    @include agregar-a-medida-maxima(xs){
        width: 90% ;
        margin: auto ;
    }  
}
/***
    Utilizando flexbox para centrar el contenido
    del contenedor
*/
.a-items-cent, 
.a-items-just,
.a-items-cent-just {
    display: flex !important;
}

.a-items-cent {
    align-items: center !important;
}
.a-items-just {
    justify-content: center !important;
}

.a-items-cent-just {
    align-items: center !important;
    justify-content: center !important;
}


@function inicializarVariable() {
    @return 1;
}

@function incrementar($var) {
    @return $var + 0.5;
}



// Clases para agregarle padding a los elementos
$p: inicializarVariable();
@for $i from 1 through 15 {
    .p-#{$i} { 
        padding: #{$p}em !important;
    }
    $p: incrementar($p);
} 

$p: inicializarVariable();
@for $i from 1 through 15 {
    .pi-#{$i} { 
        padding-left: #{$p}em !important;
    }
    $p: incrementar($p);
} 

$p: inicializarVariable();
@for $i from 1 through 15 {
    .pd-#{$i} { 
        padding-right: #{$p}em !important;
    }
    $p: incrementar($p);
}

$p: inicializarVariable();
@for $i from 1 through 15 {
    .pab-#{$i} { 
        padding-bottom: #{$p}em !important;
    }
    $p: incrementar($p);
}

$p: inicializarVariable();
@for $i from 1 through 15 {
    .par-#{$i} { 
        padding-top: #{$p}em !important;
    }
    $p: incrementar($p);
}

$m: inicializarVariable();
@for $i from 1 through 15 {
    .m-#{$i} { 
        margin: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 1 through 15 {
    .mi-#{$i} { 
        margin-left: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 1 through 15 {
    .md-#{$i} { 
        margin-right: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 1 through 15 {
    .mar-#{$i} { 
        margin-top: #{$m}em !important;
    }
    $m: incrementar($m);
}

$m: inicializarVariable();
@for $i from 1 through 15 {
    .mab-#{$i} { 
        margin-bottom: #{$m}em !important;
    }
    $m: incrementar($m);
}


.m-a {
    margin:auto;
}


/**

FLEX BOX

display: flex
flex-direction: [row, column, row-reverse, column-reverse]  
    // El eliniamiento es de derecha a izquierda o de arriba  abajo en columna

flex-wrap: [wrap, no-wrap]

wrap:       si el ancho es superior al contenedor se reacomodan 
            abajo los elementos

no-wrap:    reajusta el ancho de los elementos para acomodarlos en el contenedor

wrap-reverse: Igual que wrap pero con los elementos en reversa 

justify-content: [flex-start, flex-end, center, space-around, space-between]
        flex-start: alinea al comienzo de contenedor.
        flex-end: alinea al final del contenedor.
        center: centra los elementos.
        space-around: 
                        distribuye los elementos a lo largo del contenedor.
        space-between: 
                        distribuye pero al inicio y al final el espacio es menor.
                        acomoda desde afuera hacia dentro. si tenemos dos elementos uno lo pone al principo 
                        y el otro al final

align-items: [flex-start, flex-end, center, stretch, baseline]
            flex-start: alinea verticalmente el contenido al principio
            flex-end: alinea verticalmente el contenido al final
            center: alinea verticalmente centrado (Si es una fila sola)
                    Mas filas las distribuye uniformemente a los largo del contenedor
            stretch: Cubre el 100% del eje vertical con los elementos (Elementos tamaño (no-fijo))
            baseline: Alinea los elementos por el comienzo de la fuente de escritura
align-content: [los mismo valores] => Filas Grupos de elementos
*/


/****

    Display flex 

*/
.d-flex {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
}

/****

    Display flex tipos

*/
.flex-fila {
    flex-direction: row;
}

.flex-columna {
    flex-direction: column;
}

.flex-fila-reversa {
    flex-direction: row-reverse;
}

.flex-columna-reversa {
    flex-direction: column-reverse;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reversa {
    flex-wrap: wrap-reverse;
}


/***
    Justificación 
*/
.just-inicio {
    justify-content: flex-start;
}

.just-final {
    justify-content: flex-end;
}

.just-centrada {
    justify-content: center;
}

.just-cobertura {
    justify-content: space-around;
}

.just-cobertura-tope {
    justify-content: space-between;
}

/***
    Alineamiento
*/

.ali-centrada {
    align-items: center;
}

.ali-inicio {
    align-items: flex-start;
}

.ali-final {
    align-items: flex-end;
}

.ali-fuente {
    align-items: baseline;
}

.ali-cobertura {
    align-items: stretch;
}

.ali-contenido-centrada {
    align-content: center;
}

.ali-contenido-inicio {
    align-content: flex-start;
}

.ali-contenido-final {
    align-content: flex-end;
}

.ali-contenido-cobertura {
    align-content: stretch;
}




