/**
    Alineamiento de elementos dentro de un contenedor
    Teniendo en cuenta que 1em = 16px
*/

/**
    Clase contenedor para centrar el contenido dentro de la pagina
*/
.contenedor {
    width: 70% !important;
    margin: auto !important;
}
/***
    Utilizando flexbox para centrar el contenido
    del contenedor
*/
.a-items-cent, 
.a-items-just,
.a-items-cent-just {
    display: flex !important;
}

.a-items-cent {
    align-items: center !important;
}
.a-items-just {
    justify-content: center !important;
}

.a-items-cent-just {
    align-items: center !important;
    justify-content: center !important;
}

// Clases para agregarle padding a los elementos
$p: 1;
@for $i from 1 through 15 {
    .p-#{$i} { 
        padding: #{$p}em !important;
    }
    $p: $p + .5
} 

$p: 1;

@for $i from 1 through 15 {
    .pi-#{$i} { 
        padding-left: #{$p}em !important;
    }
    $p: $p + .5
} 

$p: 1;

@for $i from 1 through 15 {
    .pd-#{$i} { 
        padding-right: #{$p}em !important;
    }
    $p: $p + .5
}

$p: 1;

@for $i from 1 through 15 {
    .pab-#{$i} { 
        padding-bottom: #{$p}em !important;
    }
    $p: $p + .5
}

$p: 1;
@for $i from 1 through 15 {
    .par-#{$i} { 
        padding-top: #{$p}em !important;
    }
    $p: $p + .5
}

$m: 1;
@for $i from 1 through 15 {
    .m-#{$i} { 
        margin: #{$m}em !important;
    }
    $m: $m + .5
}

$m: 1;
@for $i from 1 through 15 {
    .mi-#{$i} { 
        margin-left: #{$m}em !important;
    }
    $m: $m + .5
}

$m: 1;
@for $i from 1 through 15 {
    .md-#{$i} { 
        margin-right: #{$m}em !important;
    }
    $m: $m + .5
}

$m: 1;
@for $i from 1 through 15 {
    .mar-#{$i} { 
        margin-top: #{$m}em !important;
    }
    $m: $m + .5
}

$m: 1;
@for $i from 1 through 15 {
    .mab-#{$i} { 
        margin-bottom: #{$m}em !important;
    }
    $m: $m + .5
}
