/**
    Estilos de botones
    Tres tamaños btn-sm btm btm-lg
*****************************************************************/

.btn, 
.btn-lg, 
.btn-sm, 
.btn-cubrir, 
.btn-cubrir-sm, 
.btn-cubrir-lg{
    outline: none;
    border: none;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover, 
.btn-lg:hover, 
.btn-sm:hover {
    z-index: 2;
}

.btn {
    padding: 9px 25px;
    font-size: 1.2em;
    max-width: 140px;
    max-height: 40px;
    min-width: 140px;
}

.btn-lg {
    padding: 15px 40px;
    font-size: 1.3em;
    max-width: 160px;
    max-height: 45px;
    min-width: 160px;
}

.btn-sm {
    padding: 5px 18px;
    font-size: 1.1em;
    max-width: 120px;
    max-height: 35px;
    min-width: 120px;
}

.btn-cubrir-sm {
    padding: 5px 18px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

.btn-cubrir {
    padding: 9px 25px;
    font-size: 1.2em;
    display: block;
    width: 100%;
}

.btn-cubrir-lg {
    padding: 15px 40px;
    font-size: 1.3em;
    display: block;
    width: 100%;
}



//Botones fondo rojo
.btn-rojo {
    background-color: $btn-rojo;
    color: $blanco;
    font-size: 1.1em;
}

.btn-rojo:hover {
    background-color: $btn-rojo-hover;
    box-shadow: 0 0 3px 3px $btn-rojo-sombra;
}

.btn-rojo:active{
    background-color: $btn-rojo-activo;
}

// Botones fondo verde
.btn-verde {
    background-color: $btn-verde;
    color: $blanco;
    font-size: 1.1em;
}

.btn-verde:hover {
    background-color: $btn-verde-hover;
    box-shadow: 0 0 3px 3px $btn-verde-sombra;
}

.btn-verde:active{
    background-color: $btn-verde-activo;
}

// botones fondo azul
.btn-azul {
    background-color: $btn-azul;
    color: $blanco;
    font-size: 1.1em;
}

.btn-azul:hover {
    background-color: $btn-azul-hover;
    box-shadow: 0 0 3px 3px $btn-azul-sombra;
}

.btn-azul:active{
    background-color: $btn-azul-activo;
}

// Botones grises
.btn-gris {
    background-color: $btn-gris;
    color: $negro;
    font-size: 1.1em;
}

.btn-gris:hover {
    background-color: $btn-gris-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-gris-sombra;
}

.btn-gris:active{
    background-color: $btn-gris-activo;
}


/******************************************
    Botones sin color de fondo
********************************************/

//Botones fondo rojo
.btn-rojo-o {
    border: 1px solid $btn-rojo;
    color: $btn-rojo;
    font-size: 1.1em;
}

.btn-rojo-o:hover {
    background-color:$btn-rojo-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-rojo-sombra;
}

.btn-rojo-o:active{
    background-color: $btn-rojo-activo;
}


// Botones fondo verde
.btn-verde-o {
    border:1px solid $btn-verde;
    color: $btn-verde;
    font-size: 1.1em;
}

.btn-verde-o:hover {
    background-color: $btn-verde-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-verde-sombra;
}

.btn-verde-o:active{
    background-color: $btn-verde-activo;
}



// botones fondo azul
.btn-azul-o {
    border:1px solid $btn-azul;
    color: $btn-azul;
    font-size: 1.1em;
}

.btn-azul-o:hover {
    background-color: $btn-azul-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-azul-sombra;
}

.btn-azul-o:active{
    background-color: $btn-azul-activo;
}


// Botones grises
.btn-gris-o {
    border:1px solid $btn-gris-hover;
    color: $btn-gris-hover;
    font-size: 1.1em;
}

.btn-gris-o:hover {
    background-color: $btn-gris-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-gris-sombra;
}

.btn-gris-o:active{
    background-color: $btn-gris-activo;
}


// Botones blancos
.btn-blanco-o {
    border: 1px solid $blanco;
    color: $blanco;
    font-size: 1.1em;
}

.btn-blanco-o:hover {
    background-color: $blanco;
    color: $negro;
    box-shadow: 0 0 3px 3px rgba(212, 212, 212, 0.5);
}
