/**
    Estilos de botones
    Tres tamaños btn-sm btm btm-lg
*****************************************************************/


@mixin configuracion-botones() {
    @include flex-box-centrado();
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    user-select: none;
    z-index: 10;
}

@mixin estilos-individuales($patb, $palr, $mw, $maxh, $minw,$fz) {
    padding: $patb $palr !important;
    font-size: $fz;
    max-width: $mw !important;
    max-height: $maxh !important;
    min-width: $minw;
}

@mixin btn-cubrir ($pbt, $plr, $fz, $display, $w, $m) {
    padding: $pbt $plr !important;
    font-size: $fz;
    display: $display;
    width: $w;
    margin:$m;
}


@mixin btn-colores($bg, $color, $fz) {
    background-color: $bg;
    color: $color;
    font-size: $fz;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}


@mixin btn-colores-outline($bgr, $btipo, $bcolor, $color, $fz) {
    border: $bgr $btipo $bcolor,;
    color: $color;
    font-size: $fz;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.btn, 
.btn-lg, 
.btn-sm, 
.btn-cubrir, 
.btn-cubrir-sm, 
.btn-cubrir-lg{
    @include configuracion-botones();
}

.btn:hover, 
.btn-lg:hover, 
.btn-sm:hover {
    z-index: 10;
}

.btn {
    @include estilos-individuales(9px, 25px,140px ,40px , 130px, 1.2em);
}


.btn-lg {
    @include estilos-individuales(15px, 40px,160px ,45px , 150px, 1.3em);
}

.btn-sm {
    @include estilos-individuales(5px, 18px,120px ,35px , 110px, 1.1em);
}

.btn-cubrir-sm {
    @include btn-cubrir(5px, 18px, 1.1em,block ,100%, auto);
}

.btn-cubrir {
    @include btn-cubrir(9px, 25px, 1.2em,block ,100% , auto);
}

.btn-cubrir-lg {
    @include btn-cubrir(15px, 40px , 1.3em,block ,100% , auto);
}



//Botones fondo rojo
.btn-rojo {
    @include btn-colores($btn-rojo,$blanco , 1.1em);
}

.btn-rojo:hover {
    background-color: $btn-rojo-hover;
}

.btn-rojo:active{
    background-color: $btn-rojo-activo;
}

// Botones fondo verde
.btn-verde {
    @include btn-colores($btn-verde,$blanco , 1.1em);
}

.btn-verde:hover {
    background-color: $btn-verde-hover;
}

.btn-verde:active{
    background-color: $btn-verde-activo;
}

// botones fondo azul
.btn-azul {
    @include btn-colores($btn-azul,$blanco , 1.1em);
}

.btn-azul:hover {
    background-color: $btn-azul-hover;
}

.btn-azul:active{
    background-color: $btn-azul-activo;
}

// Botones grises
.btn-gris {
    @include btn-colores($btn-gris,$negro , 1.1em);
}

.btn-gris:hover {
    background-color: $btn-gris-hover;
    color: $blanco;
}

.btn-gris:active{
    background-color: $btn-gris-activo;
}


.btn-negro {
    @include btn-colores($btn-negro,$blanco , 1.1em);
}

.btn-negro:hover {
    background-color: $btn-negro-hover;
}

.btn-negro:active{
    background-color: $btn-negro-activo;
}



/******************************************
    Botones sin color de fondo
********************************************/

//Botones fondo rojo
.btn-rojo-o {
    @include btn-colores-outline(1px, solid, $btn-rojo, $btn-rojo, 1.1em);
}

.btn-rojo-o:hover {
    background-color:$btn-rojo-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-rojo-sombra;
}

.btn-rojo-o:active{
    background-color: $btn-rojo-activo;
}


// Botones fondo verde
.btn-verde-o {
    @include btn-colores-outline(1px, solid, $btn-verde, $btn-verde, 1.1em);
}

.btn-verde-o:hover {
    background-color: $btn-verde-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-verde-sombra;
}

.btn-verde-o:active{
    background-color: $btn-verde-activo;
}



// botones fondo azul
.btn-azul-o {
    @include btn-colores-outline(1px, solid, $btn-azul, $btn-azul, 1.1em);
}

.btn-azul-o:hover {
    background-color: $btn-azul-hover;
    color: $blanco;
    box-shadow: 0 0 3px 3px $btn-azul-sombra;
}

.btn-azul-o:active{
    background-color: $btn-azul-activo;
}


// Botones grises
.btn-gris-o {
    @include btn-colores-outline(1px, solid, #212121, #212121, 1.1em);
}

.btn-gris-o:hover {
    background-color: $btn-gris-hover;
    color: $blanco;
}

.btn-gris-o:active{
    background-color: rgb(15, 15, 15);
}


.btn-negro-o {
    @include btn-colores-outline(1px, solid, black, black, 1.1em);
}

.btn-negro-o:hover {
    background-color: black;
    color: $blanco;
}

.btn-negro-o:active{
    background-color: rgb(15, 15, 15);
}


// Botones blancos
.btn-blanco-o {
    border: 1px solid $blanco;
    color: $blanco;
    font-size: 1.1em;
}

.btn-blanco-o:hover {
    background-color: $blanco;
    color: $negro;
}

.btn-negro-o:active{
    background-color: white;
}


/***
    Botones estilo desabilidado
*/
.disabilitado {
    background: $fd-gris-c !important;
    color: $fd-gris !important;
    cursor: default !important;
    box-shadow: none !important;
}

.disabilitado:hover{
    box-shadow: none !important;
}

.manejador-botones {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}
