.tarjeta {

    border-radius: 5px;
    overflow: hidden;
    box-sizing: content-box;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    position: relative;



    .tarjeta-titulo {
        font-size:22px;
        font-weight: 300;
        letter-spacing: 1.2px;
        margin-bottom: 12px;
    }
 
    .tarjeta-cabecera {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .tarjeta-cuerpo {
        padding: 15px;
        line-height: 25px;
    }

    .tarjeta-pie {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    .tarjeta-link {
        border: none;
        font-size: 1.2em;
        color: rgb(0, 80, 185);
        letter-spacing: 1.2px;


    }
    .tarjeta-link:hover {
        color: rgb(26, 110, 219);
    }

    .tarjeta-img {
        overflow: hidden;
        position: relative;
        width: 100%;
        max-height: 30%;
        cursor: pointer;
        color: white;
    
        img {
            max-width: 100%;
            max-height: 100%;
        }

        .tarjeta-capa {
            position: absolute;
            width: 100%;
            max-height: 100%;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.795);
            top: 0;
            left: -100%;
            bottom: 0;
            z-index: 10;
            transition: left 0.3s ease;
        }
    }

    .tarjeta-img:hover > .tarjeta-capa {
        left: 0;
    }

    small{
        font-size: 13px;
        color: rgb(143, 143, 143);
    }


    .tarjeta-cobertura {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        right: 0;
        transition: top 0.3s ease;
        background-color: white;
        z-index: 10;
        color: black;
        line-height: 24px;
        overflow: auto;
    }

    &:hover >  .tarjeta-cobertura{
        top: 0; 
    }
}