

.lista-contenedor {

    // Bordes
    $borde: 1px solid rgba(0, 0, 0, 0.123);
    $borde-radio-cabecera: 30px 30px 0 0;
    $borde-radio-pie: 0 0 30px 30px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 260px;



    .lista-cabecera,
    .lista-pie
     {
        text-align: center;
        background-color: $fd-gris-az-c;
        padding: 10px;
        color: white;
        font-weight: 600;
        border-radius: $borde-radio-cabecera;
        overflow: hidden;
    }

    .lista-pie{
        border-radius: $borde-radio-pie;
    }

    .lista-item {
        padding: 10px;
        font-size: 1.1em;
        border-bottom: $borde;
        border-left: $borde;
        border-right: $borde;
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        position: relative;
        cursor: pointer;
        a {
            color: black;
            display: block;
            font-family: "Roboto", Arial, Helvetica, sans-serif;
        }

        &:hover {
            background-color: rgb(228, 228, 228);
        }

    }

    & .lista-item:first-child {
        border-top: $borde;
    }

    .desplegable {
        background-color: rgb(255, 255, 255);
        p {
            padding: 5px !important;
            line-height: 25px !important;
            margin: 0 !important;
        }

        ul li a {
            display: block;
            padding: 5px;
            color: #212121;
            &:hover {
                background-color: rgba(0, 0, 0, 0.096);
            }
        }
    }
}


