
// Colores primarios
$rojo: rgb(187, 24, 24);
$rojo-hover: rgb(226, 52, 52);
$rojo-shadow: rgba(226, 52, 52, 0.5);

$azul: #1045B7;
$amarillo: rgb(217, 247, 97);
$verde: #009c80;

//blanco negro
$blanco: white;
$negro: black;

// Tonalidades de azul convinaciones con verde celeste
$azul-verdozo-oscuro: #06263F; 
$azul-verdozo-simple: rgb(0,44,56); 
$azul-verdozo-claro: rgb(19, 67, 80);
$celeste: #006CFF;


// Tonalidades de verde 
$verde-claro: rgb(0, 187, 156);
$verde-oscuro: rgb(23, 61, 68); 
$verde-azulado: #06464F;
$verde-azulado-oscuro: #002A30; 
$verde-azulado-claro: rgb(0, 107, 140); 

//Tonalidades de gris
$gris: grey;
$gris-claro: rgb(236, 236, 236);
$gris-input: rgb(163, 163, 163);
$gris-oscuro: #212121;
$gris-azulado-claro: rgb(78, 85, 110);
$gris-azulado: rgb(44, 48, 65);
$gris-azulado-oscuro: rgb(21, 22, 26);
$gris-negro: rgb(17, 17, 17);

