$tamaños:(
    xs: 400px,
    s: 768px,
    m: 1024px,
    l: 1200px, /// Mayor 
);


$altura-menu-superiores: 100000;
$altura-menu-laterales: 10000;
$altura-complementos: 3;


@function dameMedida($med) {
    @if map-has-key($tamaños, $med) {
        @return map-get($tamaños, $med);
    }
}

.derecha {
    justify-content: flex-end !important;
}

.izquierda {
    justify-content: flex-start !important;
}

.centrado {
    justify-content: center !important;
}

