.descripcion {
    position: relative;

    .descripcion-contenido {
        position: absolute;
        min-width: 200px !important;
        border-radius: 5px;
        z-index: superposicion(ms);
        text-align: left !important;
        .descripcion-cabecera{
            padding: 10px;
            background-color: #cccccc;
            color: rgb(0, 0, 0);
            position: relative;
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.075);
        }

        .descripcion-cuerpo{
            padding: 10px;
            font-size: 1em;
            background-color: rgb(226, 226, 226);
            color: black;
            line-height: 23px;
            border-radius: 0 0 5px 5px;
        }

        .mueca {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: rgb(226, 226, 226);
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
        }


    }
}

