
.dropdown-toggle {
    position: relative !important; 
    display: block !important;
    padding-right: 40px !important;
    min-width: 120px !important;
    z-index: 6;
    cursor: pointer;
}

.drop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.dropdown {
    position: absolute !important;
    color: black !important;
    min-width: 170px !important;
   background-color: white !important;
    border-radius: 2px !important;
    border: 1px solid black !important; 
    bottom: calc(width) !important;
    text-align: left !important;
    z-index: 10 !important;
    text-align: left !important;
    display: none; 
    z-index: 1000000;
}

.dropdown ul {
    list-style: none;
    width: 100% !important;
}

.dropdown ul li{
    display: block;
    width: 100%;
}
.dropdown ul li a{
    width: 100%;
    display: block !important;
    color: black !important;
    padding: 5px 10px !important;
    font-size: 0.9em !important;
}


.dropdown ul li a:hover{
    background-color: rgba(0, 0, 0, 0.411);
}


.f-abajo {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 20px;
    top: calc(50% - 5px);
}

.f-derecha {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid white;
    border-bottom: 5px solid transparent;
    right: 20px;
    top: calc(49% - 5px);
}