
.dropdown-toggle {
    position: relative !important; 
    display: flex !important;
    padding-right: 40px !important;
    z-index: superposicion(dd);
    cursor: pointer;
}

.drop {
    @include ancho-alto(100%, 100%);
    @include posicionamiento-fixed(0,0,0,0);
    z-index: 0;
}

.dropdown {
    position: absolute !important; // Posicionamiento

    font-size:  16px; // 1 EM

    // Medidas
    min-width: 12.5em !important;
    max-width: 50em !important;

    top: calc(100% + 7px);
    left: 0;

    // Estilos contenedor
    text-align: left !important;
    background-color: white !important;
    border: 1px solid rgb(209, 209, 209) !important; 
    border-radius: 3px;
    padding: 0.625em 0;
    
    display: none; 
    z-index: 1000000 !important;

    white-space: nowrap;
    ul {
        list-style: none;
        li {
            a.dd-a {

                width: 100%;
                display: block !important;
                color: rgb(29, 29, 29);
                font-size: 1em;
                padding: 0.468em 1.25em !important;
                line-height: 0.9em !important;
                font-size: 1em !important;
                cursor: pointer;
                margin: 0 !important;
                transition: all 0.3s ease;
                
                &:hover{
                    color: black;
                    background-color: white;
                }
            }

            .activo {
                background-color: $fd-azul-c !important;
                color: white !important;
            
                &:hover{
                    background-color: rgba(0, 109, 233, 0.801) !important;
                    color: white !important;
                }
            }

            .disabled {
                color: rgb(180, 180, 180) !important;
                cursor: default !important;
            }
        }
    }
}




