
.dropdown-toggle {
    position: relative !important; 
    display: flex !important;
    padding-right: 40px !important;
    z-index: superposicion(dd);
    cursor: pointer;
}

.drop {
    @include ancho-alto(100%, 100%);
    @include posicionamiento-fixed(0,0,0,0);
    z-index: 0;
}

.dropdown {
    position: absolute !important;
    color: black !important;
    min-width: 150px !important;
    background-color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.301) !important; 
    top: 35px !important;
    text-align: left !important;
    z-index: 10 !important;
    text-align: left !important;
    display: none; 
    z-index: 1000000;
    margin: 0;
    padding: 0;
}

.dropdown ul {
    list-style: none;
    width: 100% !important;
}

.dropdown ul li{
    display: block;
    width: 100%;
}
.dropdown ul li a{
    width: 100%;
    display: block !important;
    color: black !important;
    padding: 13px 20px !important;
    font-size: 0.9em !important;
    cursor: pointer !important;
    margin: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.dropdown ul li a:hover{
    background-color: rgba(0, 0, 0, 0.068) !important;
}
