/***********************************************************************************
    Colores de fondo para los componentes
*/


.fd-rojo {
    background-color: $rojo;
}

.fd-azul {
    background-color: $azul;
}

.fd-amarillo {
    background-color: $amarillo;
}

.fd-blanco {
    background-color: $blanco;
}

.fd-negro {
    background-color: $negro;
}

.fd-verde {
    background-color: $verde;
}

.fd-av-o {
    background-color: $azul-verdozo-oscuro;
}

.fd-av-s {
    background-color: $azul-verdozo-simple;
}

.fd-av-c {
    background-color: $azul-verdozo-claro;
}

.fd-celeste {
    background-color: $celeste;
}

.fd-vc {
    background-color: $verde-claro;
}

.fd-vo {
    background-color: $verde-oscuro;
}

.fd-va {
    background-color: $verde-azulado;
}

.fd-va-o {
    background-color: $verde-azulado-oscuro;
}

.fd-va-c {
    background-color: $verde-azulado-claro;
}

.fd-gris {
    background-color: $gris;
}

.fd-gc {
    background-color: $gris-claro;
}

.fd-go {
    background-color: $gris-oscuro;
}

.fd-ga-c {
    background-color: $gris-azulado-claro;
}

.fd-ga {
    background-color: $gris-azulado;
}

.fd-ga-o {
    background-color: $gris-azulado-oscuro;
}

.fd-gn {
    background-color: $gris-negro;
}



