/***********************************************************************************
    Colores de fondo para los componentes
*/


/***
    Fondos color rojo
*/
.fd-rojo {
    background-color: $fd-rojo !important;
}

.fd-rojo-c {
    background-color: $fd-rojo-c !important;;
}

.fd-rojo-o {
    background-color: $fd-rojo-o !important;;
}

.fd-rojo-t {
    background-color: $fd-rojo-t !important;;
}
/**********************************************************************/

.fd-azul {
    background-color: $fd-azul !important;
}

.fd-azul-c {
    background-color: $fd-azul-c !important;
}

.fd-azul-o{
    background-color: $fd-azul-o !important;
}

.fd-azul-ve {
    background-color: $fd-azul-ve !important;
}

.fd-azul-ve-s {
    background-color: $fd-azul-ve-s !important;
}

.fd-azul-ve-c {
    background-color: $fd-azul-ve-c !important;
}

.fd-azul-t {
    background-color: $fd-azul-t !important;
}

/*************************************************
    Verder
*/
.fd-verde {
    background-color: $fd-verde !important;
}
.fd-verde-c {
    background-color: $fd-verde-c !important;
}

.fd-verde-o {
    background-color: $fd-verde-o !important;
}

.fd-verde-t {
    background-color: $fd-verde-t !important;
}
.fd-verde-az {
    background-color: $fd-verde-az !important;
}
/******************************************/

.fd-gris {
    background-color: $fd-gris !important;
}
.fd-gris-c {
    background-color: $fd-gris-c !important;
}

.fd-gris-o {
    background-color: $fd-gris-o !important;
}

.fd-gris-t {
    background-color: $fd-gris-t !important;
}
.fd-gris-az {
    background-color: $fd-gris-az !important;
}

.fd-gris-az-c {
    background-color: $fd-gris-az-c !important ;
}

.fd-gris-az-o {
    background-color: $fd-gris-az-o !important;
}

.fd-gris-n {
    background-color: $fd-gris-n !important;
}

.fd-blanco {
    background-color: $blanco !important;
}

.fd-negro {
    background-color: $negro !important;
}


