/***********************************************************************************
    Colores de fondo para los componentes
*/


/***
    Fondos color rojo
*/
.fd-rojo {
    background-color: $fd-rojo;
}

.fd-rojo-c {
    background-color: $fd-rojo-c;
}

.fd-rojo-o {
    background-color: $fd-rojo-o;
}

.fd-rojo-t {
    background-color: $fd-rojo-t;
}
/**********************************************************************/

.fd-azul {
    background-color: $fd-azul;
}

.fd-azul-c {
    background-color: $fd-azul-c;
}

.fd-azul-o{
    background-color: $fd-azul-o;
}

.fd-azul-ve {
    background-color: $fd-azul-ve;
}

.fd-azul-ve-s {
    background-color: $fd-azul-ve-s;
}

.fd-azul-ve-c {
    background-color: $fd-azul-ve-c;
}

.fd-azul-t {
    background-color: $fd-azul-t;
}

/*************************************************
    Verder
*/
.fd-verde {
    background-color: $fd-verde;
}
.fd-verde-c {
    background-color: $fd-verde-c;
}

.fd-verde-o {
    background-color: $fd-verde-o;
}

.fd-verde-t {
    background-color: $fd-verde-t;
}
.fd-verde-az {
    background-color: $fd-verde-az;
}
/******************************************/

.fd-gris {
    background-color: $fd-gris;
}
.fd-gris-c {
    background-color: $fd-gris-c;
}

.fd-gris-o {
    background-color: $fd-gris-o;
}

.fd-gris-t {
    background-color: $fd-gris-t;
}
.fd-gris-az {
    background-color: $fd-gris-az;
}

.fd-gris-az-c {
    background-color: $fd-gris-az-c;
}

.fd-gris-az-o {
    background-color: $fd-gris-az-o;
}

.fd-gris-n {
    background-color: $fd-gris-n;
}

.fd-blanco {
    background-color: $blanco;
}

.fd-negro {
    background-color: $negro;
}


