/****
    Grilla para acomodar los elementos dentro del sitio
    Contiene 4 medidas disponibles
    cxs: MxtraSmall para dispositivos de 400px de ancho max
    cs: Small para dispositivos de 768px de ancho max
    cm: Medium para dispositivos de 1100px de ancho max
    cl: Large para dispositivos de mas de 1100px de ancho max
*/

.fila {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr) !important;   

    @for $i from 1 through 12 {
        .cxs-#{$i} { 
            grid-column: span $i !important;
        }
    }

    @for $i from 1 through 12 {
        .cs-#{$i} { 
            grid-column: span $i !important;
        }
    } 
    @for $i from 1 through 12 {
        .cm-#{$i} { 
            grid-column: span $i !important;
        }
    }
    @for $i from 1 through 12 {
        .cl-#{$i} { 
            grid-column: span $i !important;
        }
    }

    

    @media (max-width: 1100px){

        @for $i from 1 through 12 {
            .cxs-#{$i} { 
                grid-column: span $i !important;
            }
        }

        @for $i from 1 through 12 {
            .cs-#{$i} { 
                grid-column: span $i !important;
            }
        }

        @for $i from 1 through 12 {
            .cm-#{$i} { 
                grid-column: span $i !important;
            }
        } 
    }

    @media (max-width: 768px){
        @for $i from 1 through 12 {
            .cxs-#{$i} { 
                grid-column: span $i !important;
            }
        }
        @for $i from 1 through 12 {
            .cs-#{$i} { 
                grid-column: span $i !important;
            }
        } 
    }

    @media (max-width: 400px){
        @for $i from 1 through 12 {
            .cxs-#{$i} { 
                grid-column: span $i !important;
            }
        } 
    }
}
