.img-exp {
    cursor: zoom-in;
}

.contenedor-imagen {
    @include posicionamiento-fixed(0,0,0,0);
    @include flex-box-centrado();
    @include ancho-alto(100%, 100%);

    background-color: rgb(100, 100, 100);
    z-index:  superposicion(ms);
    .img-exp img {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
    }

}

.img-red-bor {
    border-radius: !important;
}

.usuario-imagen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 250px;
    min-width: 160px;
    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;

    }

    a {
        display: block;
        height: 100%;
        color: black;
        margin-left: 10px;
    }

}