

// Input G tipo 1
$altura-input: 2.1em;
$altura-span: 2.3em;
$altura-boton: 2.1em;
$borde: 1px solid $gris-input;
$radio-bordes-input: 0 3px 3px 0;
$radio-bordes-span: 6px 0 0 6px;


// Input G tipo 2
$radio-bordes-input-2: 3px 0px 0px 3px;
$radio-bordes-span-2: 0px 6px 6px 0px;


.g-input {
    display: flex;
    user-select: none;


    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="url"],
    input[type="number"] {
        height: $altura-input;
        z-index: 1;
        
    }

    .span {
        height: $altura-span;
        min-width: 40px;
        display: flex;
        align-items: center;
        padding: 0.6em;
        text-align: center;
    }

    .btn {
        height: $altura-boton;
        min-width: 40px;
        display: flex;
        align-items: center;
        padding: 0.6em;
        text-align: center;
        box-shadow: none !important;
        z-index: 0;
    }
}

    .g-input-1 input[type="text"],
    .g-input-1 input[type="email"],
    .g-input-1 input[type="search"],
    .g-input-1 input[type="url"],
    .g-input-1 input[type="number"] {
        border-radius: $radio-bordes-input;
        height: $altura-input;
    }


    .g-input-1 .span  {
        background-color: rgb(204, 204, 204);
        border-radius: $radio-bordes-span;
        border-left: $borde;
        border-top: $borde;
        border-bottom: $borde;
    }

    .g-input-2 input[type="text"],
    .g-input-2 input[type="email"],
    .g-input-2 input[type="search"],
    .g-input-2 input[type="url"],
    .g-input-2 input[type="number"] {
        border-radius: $radio-bordes-input-2;
        height: $altura-input;
    }

    .g-input-2 .span  {
        background-color: rgb(204, 204, 204);
        border-radius: $radio-bordes-span-2;
        border-bottom: $borde;
        border-top: $borde;
        border-right: $borde;
    }



    .g-input-3 input[type="text"],
    .g-input-3 input[type="email"],
    .g-input-3 input[type="search"],
    .g-input-3 input[type="url"],
    .g-input-3 input[type="number"] {
        border-radius: $radio-bordes-input;
        height: $altura-input;
    }

    .g-input-3 .span  {
        background-color: rgb(204, 204, 204);
        min-width: 30px;
        border-radius: $radio-bordes-span;
        border-left: $borde;
        border-top: $borde;
        border-bottom: $borde;
        position: relative;

    }

    .g-input-3 .dropdown-toggle  {
        background-color: rgb(204, 204, 204);
        min-width: 30px;
        border-left: $borde;
        border-top: $borde;
        border-bottom: $borde;
        position: relative;

    }


    .g-input-4 input[type="text"],
    .g-input-4 input[type="email"],
    .g-input-4 input[type="search"],
    .g-input-4 input[type="url"],
    .g-input-4 input[type="number"] {
        border-radius: 0 0 0 0;
        height: $altura-input;
        border-right: none;
    }

    .g-input-4 .span  {
        background-color: rgb(204, 204, 204);
        min-width: 30px;
        border-radius: $radio-bordes-span;
        border-left: $borde;
        border-top: $borde;
        border-bottom: $borde;
        position: relative;

    }

    .g-input-4 .span-2  {
        background-color: rgb(204, 204, 204);
        border-radius: $radio-bordes-span-2;
        border-bottom: $borde;
        border-top: $borde;
        border-right: $borde;

    }


    .g-input-5 input[type="text"],
    .g-input-5 input[type="email"],
    .g-input-5 input[type="search"],
    .g-input-5 input[type="url"],
    .g-input-5 input[type="number"] {
        height: 1.6em !important;
        border-radius: $radio-bordes-input-2;
        height: $altura-input;
    }

    .g-input-5 .btn {
        border-radius: $radio-bordes-span-2;
        border-bottom: $borde;
        border-top: $borde;
        border-right: $borde;
        height: 2.02em !important;
        max-width: 60px !important;
        font-size: 14px;
    }

    .g-input-6 input[type="text"],
    .g-input-6 input[type="email"],
    .g-input-6 input[type="search"],
    .g-input-6 input[type="url"],
    .g-input-6 input[type="number"] {
        border-radius: $radio-bordes-input-2;
        height: $altura-input;
    }

    .g-input-6 .btn {
        border-radius: $radio-bordes-span-2;
        border-bottom: $borde;
        border-top: $borde;
        border-right: $borde;
        
    }

    .g-input-6 .span {
        background-color: rgb(204, 204, 204);
        border-radius: 0;
        border-bottom: $borde;
        border-top: $borde;
        z-index: 10;

    }




