/**
    Input de tipo texto e email
    con la clase validación para poder mostrar 
    que la informacion del campo es erronea
*/

input[type='text'], 
input[type='email'],
input[type='number'],
input[type='password'],
input[type='url'] {
    outline: none;
    height: 2.1em;
    width: 100%;
    border: 1px solid $gris-input;
    padding: 0.6em;
    border-radius: 3px;
    font-size: 1.1em;
    font-family: "HelveticaNeue", Helvetica, sans-serif;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

input[type='text']:focus, 
input[type='email']:focus,
input[type='number']:focus, 
input[type='password']:focus,
input[type='url']:focus {
    box-shadow: 0 0 0 3px rgba(135, 217, 255, 0.3);
    border: 1px solid rgba(135, 217, 255);
    z-index: 2;
}

input[type='text']::placeholder, 
input[type='email']::placeholder,
input[type='number']::placeholder,
input[type='password']::placeholder,
input[type='url']::placeholder {
    color: $gris;
}

.i-error {
    box-shadow: 0 0 3px 3px rgba(253, 61, 61, 0.5);
    z-index: 2;
}