
$borde: 1px solid rgb(206, 212, 218);
$borde-boton: 1px solid  rgb(63, 63, 63);
$bg-span: rgb(230, 237, 238);
$letra-span: rgb(81, 85, 90);

$min-h: 40px;
$min-h-lg: 50px;
$min-h-sm: 30px;

$fz: 1em;
$fz-lg: 1.3em;
$fz-sm: 0.9em;




.input-g {

    // 1 EM 
    font-size: 16px;
    font-family: "HelveticaNeue", "Roboto", Helvetica, sans-serif;
    

    input[type='text'], 
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='url'],
    input[type='search'], 
    textarea {
        
        border: none ;
        font-size: $fz;

        &:focus {
            z-index: 2000;
        }
    }

    .grupo,
    .grupo-sm,
    .grupo-lg{
        display: flex;
        border-radius: 4px;
        .span-grupo{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 16px !important;
            font-size: $fz;
            background-color: $bg-span;
            white-space: nowrap;
            font-weight: 500;
            color: $letra-span;
            min-height: $min-h;

            *{
                border: none !important;
            }
        }


        input[type='text'], 
        input[type='email'],
        input[type='number'],
        input[type='password'],
        input[type='url'],
        input[type='search'], 
        textarea {
            min-height: $min-h !important;
        }


        

        .btn,
        .btn-o,
        .btn-sm,
        .btn-sm-o,
        .btn-lg,
        .btn-lg-o{
            border-radius: 4px 0 0 4px;
            padding: 0 16px !important; 
            box-shadow: none;
            border: $borde-boton;
            min-height: $min-h;
            z-index: 0;

            *{
               border: none !important;
            }
            .f-abajo-grupo {
                height: 0;
                width: 0;
                border-top: 4px solid $letra-span !important;
                border-left: 4px solid transparent !important;
                border-right: 4px solid transparent !important;
                letter-spacing: 2px;
            }
        }

        

        & *:first-child:not(input) {
            border: $borde;
            border-right: none;
            border-radius: 4px 0 0 4px !important;
        }

        & input:first-child {
            border: $borde;
            border-right: none;
            border-radius: 4px 0 0 4px !important;
        }

        & *:last-child {
            border-radius:  0 4px 4px 0 !important;
            border: $borde;
            border-left: none;
        }


        input:not(:first-child):not(:last-child) {
            border-top: $borde;
            border-bottom: $borde;
            border-left: $borde;
            border-radius:  0!important;
        }

        input:not(:first-child) {
            border-top: $borde;
            border-bottom: $borde;
            border-left: $borde;
        }

        *:not(:first-child):not(:last-child):not(input) {
            border-top: $borde;
            border-bottom: $borde;
            border-left: $borde;
            border-right: none;
            border-radius:  0!important;
        }

        .span-grupo,
        .btn,
        .btn-sm,
        .btn-lg,
        .btn-o,
        .btn-o-lg, 
        .btn-o-sm{
            border-top: $borde;
            border-bottom: $borde;
            border-left: $borde;
        }

        .dropdown {
            border: 1px solid rgb(209, 209, 209) !important; 
            background-color: white !important;
            z-index: superposicion(ms);
        }

        .dropdown-toggle {
            z-index: superposicion(ms);
        }
    }

    .grupo-sm {
        input[type='text'], 
        input[type='email'],
        input[type='number'],
        input[type='password'],
        input[type='url'],
        input[type='search'], 
        textarea {
            font-size: $fz-sm;
            min-height: $min-h-sm !important;
        }

        .span-grupo {
            font-size: $fz-sm;
            min-height: $min-h-sm;
            padding: 0 13px !important;
        }

        .btn,
        .btn-o,
        .btn-sm,
        .btn-sm-o,
        .btn-lg,
        .btn-lg-o{
            border-radius: 4px 0 0 4px;
            font-size: $fz-sm;
            min-height: $min-h-sm;
            padding: 0 13px !important;
        }
    }

    .grupo-lg {
        input[type='text'], 
        input[type='email'],
        input[type='number'],
        input[type='password'],
        input[type='url'],
        input[type='search'], 
        textarea {
            font-size: $fz-lg;
            min-height: $min-h-lg !important;
        }

        .span-grupo {
            padding: 0 20px !important;
            font-size: $fz-lg;
            min-height: $min-h-lg;
        }

        .btn,
        .btn-o,
        .btn-sm,
        .btn-sm-o,
        .btn-lg,
        .btn-lg-o{
            font-size: $fz-lg;
            min-height: $min-h-lg;
            padding: 0 20px !important;
        }
    }
}