

// Input G tipo 1
$altura-input: 2.1em;
$altura-span: 2.32em;
$altura-boton: 2.05em;
$borde: 1px solid $gris-input;
$radio-bordes-input: 0 3px 3px 0;
$radio-bordes-span: 6px 0 0 6px;


// Input G tipo 2
$radio-bordes-input-2: 3px 0px 0px 3px;
$radio-bordes-span-2: 0px 6px 6px 0px;


@mixin elementoDerecha() {
    border-radius: $radio-bordes-span-2;
    border-bottom: $borde;
    border-top: $borde;
    border-right: $borde;
}

@mixin elementoIzquierda() {
    border-radius: $radio-bordes-span;
    border-left: $borde;
    border-top: $borde;
    border-bottom: $borde;
}

@mixin elementoCentro() {
    border-radius: 0;
    border-top: $borde;
    border-bottom: $borde;
    border-right: $borde;
}

.g-input {
    display: flex;
    user-select: none;
    flex-wrap: nowrap;

    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="url"],
    input[type="number"] {
        height: $altura-input;
        z-index: 1;
        
    }

    .span-g {
        height: $altura-span;
        display: flex;
        align-items: center;
        padding: 0.6em;
        text-align: center;
    }

    .btn {
        height: $altura-boton;
        display: flex;
        align-items: center;
        padding: 0.6em;
        text-align: center;
        box-shadow: none !important;
        z-index: 0;
    }
}

.g-input-1 input[type="text"],
.g-input-1 input[type="email"],
.g-input-1 input[type="search"],
.g-input-1 input[type="url"],
.g-input-1 input[type="number"] {
    border-radius: $radio-bordes-input;
    height: $altura-input;
}


.g-input-1 .span-g  {
    background-color: rgb(204, 204, 204);
    @include elementoIzquierda();
}

.g-input-2 input[type="text"],
.g-input-2 input[type="email"],
.g-input-2 input[type="search"],
.g-input-2 input[type="url"],
.g-input-2 input[type="number"] {
    border-radius: $radio-bordes-input-2;
    height: $altura-input;
}

.g-input-2 .span-g  {
    background-color: rgb(204, 204, 204);
    @include elementoDerecha();
}


.g-input-3 input[type="text"],
.g-input-3 input[type="email"],
.g-input-3 input[type="search"],
.g-input-3 input[type="url"],
.g-input-3 input[type="number"] {
    border-radius: 0;
    height: $altura-input;
}


.g-input-3 .span-g:first-child{
    background-color: rgb(204, 204, 204);
    @include elementoIzquierda();
}

.g-input-3 .span-g:last-child{
    background-color: rgb(204, 204, 204);
    @include elementoDerecha();
}



.g-input-4 input[type="text"],
.g-input-4 input[type="email"],
.g-input-4 input[type="search"],
.g-input-4 input[type="url"],
.g-input-4 input[type="number"] {
    border-radius: $radio-bordes-input-2;
    height: $altura-input;
}


.g-input-4 .btn {
    @include elementoDerecha();
}



.g-input-5 input[type="text"],
.g-input-5 input[type="email"],
.g-input-5 input[type="search"],
.g-input-5 input[type="url"],
.g-input-5 input[type="number"] {
    border-radius: $radio-bordes-input-2;
    height: $altura-input;
}


.g-input-5 .btn {
    @include elementoCentro();
}

.g-input-5 .btn:last-child {
    @include elementoDerecha();
}




.g-input-6 input[type="text"],
.g-input-6 input[type="email"],
.g-input-6 input[type="search"],
.g-input-6 input[type="url"],
.g-input-6 input[type="number"] {
    border-radius: $radio-bordes-input-2;
    height: $altura-input;
}


.g-input-6 .btn {
    @include elementoCentro();
}




.g-input-6 .dropdown-toggle {
    padding-right: 33px !important;
}

.g-input-6 .dropdown-toggle:hover {
    background-color: rgb(204, 204, 204);
    color: black !important;
}

.g-input-6 .btn:last-child {
    @include elementoDerecha();
}




.contenedor-busqueda {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: $fd-azul-ve;
    width: 100%;
    height: 52.5px;
}

.campo-busqueda {
    position: relative;
    width: 450px;
    .boton-busqueda {
        padding: 5.8px 10px ;
        width: 80px;
        border-radius: 0 1px 1px 0;
        background-color: rgb(71, 71, 71);
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.575) !important;
        }
    }

    input[type="search"] {
        height: 30px !important;
        max-width: 370px !important;
        position: absolute;
        border-radius: 1px 0 0 1px;
        border: 1px solid rgb(71, 71, 71);;
        left: 0;
    }

    input[type="search"]:focus {
        box-shadow: none !important;
        border: 1px solid rgb(0, 120, 201);
    }
}

@media (max-width:500px){
    .campo-busqueda {
        width: 320px;
        .boton-busqueda {
            width: 80px;
        }

        input[type="search"] {
            max-width: 240px !important;
        }
    }
}