/***
    Nav responsive para paginas principales
    Incluye barra lateral
*/

.menu-superior {

    /* Propiedades de toda la barra de menu*/
    width: 100%;
    height: 3em;
    max-height: 3.5em;
    user-select: none;
    position: fixed;
    background-color: $fd-azul-ve;
    z-index: 100000;



    .menu-contenedor {
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr) !important;
        align-items: center;
        margin: auto;
        
        .menu-nav-icono {
            grid-column-start: 1;
            grid-column-end: 6;
            a{
                color: white;
                font-size: 1.3em;
                font-weight: 700;
            }
        }


        .menu-listado {
            grid-column-start: 12;
            grid-column-end: 12 ;

            
            
            .lista{
                display: flex;
                align-items: center;
                
                li{
                    a{
                        display: block;
                        padding: 0.9em 1.2em;
                        color: white;
                    }
                    a:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            label {
                display: none;
                cursor: pointer;
            }

            @media(max-width: 1024px){
                .lista{
                    display: none;
                }
                 label {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}



.menu-superior-busqueda {

    /* Propiedades de toda la barra de menu*/
    width: 100%;
    height: 2.5em;
    max-height: 3.5em;
    user-select: none;
    background-color: $fd-azul-ve;
    z-index: 100000;

    .menu-contenedor {
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr) !important;
        align-items: center;
        margin: auto;
        .g-input {
            grid-column-start: 1;
            grid-column-end: 12;
        }

    }
}


.menu-lateral {

    /* Abarca todo el contenido de la página */
    width: 100%;
    height: 100%;

    /* Baja a medida que el usuario hace scroll hacia abajo*/
    position: fixed;

    /* Flex box*/
    display: flex;
    background-color: rgba(0, 0, 0, 0.445);  
    z-index: 1; /* Se muestra por encima de los elemntos de la pagina*/

    /** Medidas Ocupa todo de punta a punta*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
   
    /* Por defecto no es visible */
    display: none;
    z-index: 100;
    .menu-listado-lateral{
        width: 240px;
        position: fixed;
        bottom: 0;
        top: 0;
        left: -240px;
        transition: .5s all;
        padding-top: 3em;
        background-color: $fd-azul-ve;
        overflow: auto;
        
        li{
            a{
                display: block;
                padding: 0.6em 0.8em;
                color: white;
            }
            a:hover {
                background-color: rgba(0, 0, 0, 0.384);
            }
        }

    }
    .complemento {
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}

#toggle {
    display: none;
}
#toggle:checked~.menu-listado-lateral {
    left: 0px;
}




