/*
    Ventanas modal 
*/


.modal {
    /* Posicionamiento del fondo */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Fondo con poca opacidad*/
    background-color: rgba(0, 0, 0, .5);
    /* Por encima de los elementos*/
    z-index: 1;

    /* Display para ubicar elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    .modal-ventana {
        padding: 1.5em;
        background-color: $fd-gris-c;
        z-index: 4;
        border-radius: 3px;
        box-shadow: 0 0 15px 5px $fd-gris-o;
        h3 {
            font-weight: 200;
            margin-bottom: 20px;
        }
    }
    .complemento {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    
}


