/*
    Ventanas modal 
*/


.modal {
    /* Posicionamiento del fondo */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Fondo con poca opacidad*/
    background-color: rgba(0, 0, 0, .5);
    /* Por encima de los elementos*/
    z-index: 1;

    /* Display para ubicar elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    .modal-ventana {
        padding: 1.5em;
        background-color: $fd-gris-c;
        z-index: 4;
        border-radius: 3px;
        box-shadow: 0 0 15px 5px rgb(94, 94, 94);
        h3 {
            font-weight: 200;
            margin-bottom: 20px;
        }
    }
    .complemento {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    
}

.modal1 {
    /* Posicionamiento del fondo */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Fondo con poca opacidad*/
    background-color: rgba(0, 0, 0, .5);
    /* Por encima de los elementos*/
    z-index: 1;

    /* Display para ubicar elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    .modal-ventana {
        padding: 1.5em;
        background-color: $fd-gris-c;
        z-index: 4;
        border-radius: 3px;
        box-shadow: 0 0 15px 5px rgb(94, 94, 94);
        min-width: 350px;
        max-width: 400px;
        border-radius: 10px;
        overflow: hidden;
        .contenido {
            border: 1px solid lightgrey;
            border-radius: 10px;
            overflow: auto;
            .cabecera {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid lightgrey;
                padding: 0.8em;
                h3 {
                    font-size: 1.1em;
                    width: 90%;
                    font-weight: 600;
                }
                span {
                    font-size: 1em;
                    width: 10%;
                    text-align: right;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .cuerpo {
                border-bottom: 1px solid lightgrey;
                padding: 0.8em;
                overflow: auto;
                border-bottom: 1px solid lightgrey;
                p {
                    font-size: 1em;
                    line-height : 23px;
                }
            }
            .controles {
                display: flex;
                padding: 0.8em;
                justify-content: right;
            }
        }
        
    }
}


.modal-registro {
    /* Posicionamiento del fondo */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Fondo con poca opacidad*/
    background-color: rgba(0, 0, 0, .5);
    /* Por encima de los elementos*/
    z-index: 1;

    /* Display para ubicar elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    .modal-ventana {
        padding: 1.5em;
        background-color: $fd-gris-c;
        z-index: 4;
        border-radius: 3px;
        box-shadow: 0 0 15px 5px rgb(94, 94, 94);
        min-width: 300px;
        max-width: 400px;
        border-radius: 10px;
        overflow: hidden;
        .contenido {
            border: 1px solid lightgrey;
            border-radius: 10px;
            overflow: auto;
            .cabecera {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid lightgrey;
                padding: 0.8em;
                h3 {
                    font-size: 1.1em;
                    width: 90%;
                    font-weight: 600;
                }
            }
            .registro {
                padding: 1em;
                .modal-control {
                    padding: 0.5em 1em;
                }
            }
            .modal-botones {
                padding: 1em 1em;
                border-top: 1px solid lightgrey;
            }
        }
    }

}


