
@mixin sidebar-fija() {
    @include posicionamiento-fixed(3em,null, 0,0);
    overflow: auto;
    width: 200px;
    background-color: $fd-gris-az;
    padding-bottom: 30px;
    padding-top: 30px;
}

@mixin sidebar-logo() {
    text-decoration: none;
    padding: 10px;
    background-color: $fd-azul-ve;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    a {
        display: block;
        color: white;
        font-size: 1.5em;
        font-weight: 600;
    }
}


@mixin sidebar-item(){
    .titulo {
        color: white;
        text-decoration: none;
        padding: 5px;
        font-size: 1em;
        font-weight: 600;
    }
    ul li a,
    ol li a{
        text-decoration: none;
        display: block;
        color: white;
        padding: 3px 20px;
        font-size: 12px;
    }
    ul li a:hover,
    ol li a:hover{
        color: rgb(148, 148, 148);
    }
}

.barra-superior-fija {
    height: 3em;
    background-color: $fd-azul-ve;
    @include flex-box-centrado();
    @include posicionamiento-fixed(0,0,null,0);
    z-index: 100000;
    .barra-superior-contenedor {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .logo-barra-superior-fija a{
            font-size: 1.3em;
            font-weight: 600;
            color: white;
        }
    
        .lista-barra-superior-fija {
            
            ul {
                display: flex;
                align-items: center;
            }
            ul li a {
                padding: 1em;
                font-size: 1em;
                text-decoration: none;
                display: block;
                color: white;

            }
            ul li a:hover {
                background-color: rgba(0, 0, 0, 0.493);
            }
        }
    }
}

.sidebar-fija {
    @include sidebar-fija();
    .sidebar-logo {
        @include sidebar-logo();
    }
    .item{
        @include sidebar-item();
    }
}

.sidebar-despleganle {
    display: none;
    .barra-superior {
        @include ancho-alto(100%, 3em);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $fd-azul-ve;
        padding: 15px 10px;
    }
}
.listado-desplegable {
    display: none;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(88, 88, 88);
    padding: 15px;
    display: none;
    .titulo{
        span{
            display: inline-block;
            padding: 5px;
            font-weight: 600;
        }
    }
    ul {
        li{
            a{
                text-decoration: none;
                color: black;
                padding: 3px 12px; 
                display: block;
                font-size: 14px;
            }
            a:hover {
                color: green;
            }
        }
    }
}


@media(max-width: 1024px){

    .barra-superior-fija {
        display: none;
    }
    .sidebar-despleganle {
        display: block;
    }

    .sidebar-fija {
        display: none;
    }
}