/**
    Sidebar para aplicaciones web con menus acordeon 

*/

.sidebar {
    user-select: none;
    
    .sidebar-cabecera {
        z-index: 10000;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0.8em;
        color: white;
        transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        background-color: $fd-azul-ve;
        label[for="toggle"] {
            width: 100%;
            cursor: pointer;
        }
    }

    .sidebar-menu {
        z-index: 10000;
        width: 240px;
        position: fixed;
        left: -240px;
        bottom: 0;
        top: 0;
        transition: .5s all;
        overflow: auto;
        background-color: $fd-gris-az-o;
        .logo {
            padding: 0.475em;
            display: flex;
            text-align: center;
            color: white;
            font-size: 1.6em;
            font-weight: 700;
            background-color: $fd-azul-ve;
        }
        .item{
            .titulo {
                padding: 0.5em;
                color: white;
                border-bottom: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    width: 90%;
                }
            }
            ul {
                background-color: $fd-azul-ve-c;
                border-bottom: 1px solid white;
                display: none;
                background-color: $fd-azul-ve;
                li {
                    a{
                        display: block;
                        color: white;
                        padding: 0.7em 0.5em;
                        transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                    }
                    a:hover{
                        background-color: rgba(0, 0, 0, 0.466);
                    }
                }
            }
        }
    }

    #toggle:checked~.sidebar-menu {
        left: 0;
    }

    #toggle:checked~.sidebar-cabecera {
        left: 240px;
        width: calc(100% - 240px);
    }
}

