@mixin  confInput($color) {
    input[type='text'], 
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='url'],
    input[type='search'] {
        position: absolute;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        bottom: 0;
        padding: 0;
        padding-right: 12px;
        font-size: 16px;
        color: $color;
    }

    input[type='text']:focus + label, 
    input[type='email']:focus + label,
    input[type='number']:focus + label,
    input[type='password']:focus + label,
    input[type='url']:focus + label,
    input[type='search']:focus + label {
        bottom: 35px;
        font-size: 0.7em;
    }
}

.template-g-blanco,
.template-g-negro,
.template-g-azul,
.template-g-verde,
.template-g-gris {
    border-bottom: 1.5px solid black;
    position: relative;
    padding: 5px;
    margin-top: 60px;
    @include confInput(black);

    label {
        position: absolute;
        bottom: 12px;
        color: black;
        transition: bottom .5s ease;
    }

    .active{
        bottom: 35px;
        font-size: 0.7em;

    }
}

.template-g-blanco {
    border-bottom: 1.5px solid rgb(255, 255, 255);
    label {
        color: white;
    }
}

.template-g-azul {
    border-bottom: 1.5px solid $fd-azul;
    label {
        color: $fd-azul;
    }
    
}

.template-g-verde {
    border-bottom: 1.5px solid $fd-verde;
    label {
        color: $fd-verde;
    }
}

.template-g-gris {
    border-bottom: 1.5px solid $fd-gris;
    label {
        color: $fd-gris;
    }
}

.template-login {
    max-width: 350px;
    padding: 40px;
    box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.397);
    .titulo {
        font-size: 30px;
        font-weight: 300;
    }
    .botones {
        margin-top: 60px;
        display: flex;
        align-items: center;
        .btn{
            margin-right: 10px;
            font-size: 1em;
        }
        & a:last-child {
            font-size: 0.8em;
            color: $fd-azul;
        }
    }
}