
/*
    Trabajando con los textos 
*/
.a-c{
    text-align: center !important;
}

.a-d {
    text-align: right !important;
}

.a-i {
    text-align: left !important;
}

.f-grosor-1{
    font-weight: 100 !important;
}

.f-grosor-2{
    font-weight: 200 !important;
}

.f-grosor-3{
    font-weight: 300 !important;
}

.f-grosor-4{
    font-weight: 400 !important;
}

.f-grosor-5{
    font-weight: 500 !important;
}

.f-grosor-6{
    font-weight: 600 !important;
}
.f-grosor-7{
    font-weight: 700 !important;
}
.f-grosor-8{
    font-weight: 800 !important;
}

.f-grosor-9{
    font-weight: 900 !important;
}
.f-grosor-b{
    font-weight: bold !important;
}

.t-may {
    text-transform: uppercase !important;
}

.t-min {
    text-transform: lowercase !important;
}

.t-cap {
    text-transform: capitalize !important;
}

.c-blanco {
    color: white !important;
}

.c-negro {
    color: black !important;
}

.c-rojo {
    color: $fd-rojo !important;
}

.c-rojo-c {
    color: $fd-rojo-c !important;
}

.c-rojo-o {
    color: $fd-rojo-o!important;
}

.c-azul {
    color: $fd-azul !important
}

.c-azul-c {
    color: $fd-azul-c !important
}

.c-azul-o {
    color: $fd-azul-o !important
}


.c-verde {
    color: $fd-verde !important;
}

.c-verde-c {
    color: $fd-verde-c !important;
}

.c-verde-o {
    color: $fd-verde-o !important;
}

.c-gris {
    color: $fd-gris !important;
}

.c-gris-c {
    color: $fd-gris-c !important;
}

.c-gris-o {
    color: $fd-gris-o !important;
}

@function multiplo5($num) {
    @return $num % 5 == 0;
}

@for $i from 10 through 100 {
    @if multiplo5($i) {
        .fz-#{$i} {
            font-size: #{$i}px !important;
        }
    }
}
