/*****************************************************************
    Libreria de estilos en css3
    Nombre: BodyStyle
    Autor: Fedrico Manzano
    Version: 1.0.0
*******************************************************************/

/*Estilos generales */
@import "generales";
@import "config";
@import "mixin-generales";
@import "iconos";
@import "screenUtilitarios";


/* CSS */
@import "texto";
@import "alineamiento";
@import "colores";
@import "css";
@import "fondos";
@import "tabla";
@import "preloader";
@import "progressBar";
/* Grilla */
@import "grilla";

/* Componentes */
@import "dropdown";
@import "efecto-waves";
@import "botones";
@import "inputText";
@import "inputRadioCheck";
@import "inputGrupo";
@import "badges";
@import "card";
@import "modal";
@import "menu";
@import "menu-lateral";
@import "sidebar";
@import "sidebar-fija";
@import "botonFlotante";

