/*****************************************************************
    Libreria de estilos en css3
    Nombre: BodyStyle
    Autor: Fedrico Manzano
    Version: 1.0.0
*******************************************************************/


/**
    Generales 
*/
@import "generales";
@import "config";
@import "mixin-generales";
@import "iconos";
@import "screenUtilitarios";
@import "colores";
@import "fondos";

/**
    Aliniamiento 
*/
@import "alineamiento";
@import "grilla";

/**
    Utilitarios 
*/
@import "texto";
@import "css";


/**
    CSS 
*/

@import "efecto-borde";
@import "tabla";
@import "alertas";
@import "badges";
@import "descripcion";
@import "efectoTresD";

/**
    JS 
*/
@import "dropdown";
@import "efecto-waves";
@import "imagenes";
@import "toolTip";
@import "toast";
@import "botonFlotante";
@import "scroollSpy";
@import "paralax";

/**
    Componentes
*/
@import "preloader";
@import "progressBar";
@import "botones";
@import "card";
@import "modal";
@import "menu";
@import "menu-colapso";
@import "menu-lateral";
@import "sidebar-fija";
@import "sidebar-barra";
@import "sidebar-lateral";
@import "sidebarFija";
@import "slider";
@import "colecciones";
/***
    Formularios
*/
@import "switch";
@import "inputText";
@import "inputRadioCheck";
@import "inputGrupo";
@import "select";
@import "selectModificado";
@import "formularios";
@import "range";

