/*****************************************************************
    Libreria de estilos en css3
    Nombre: BodyStyle
    Autor: Fedrico Manzano
    Version: 1.0.0
*******************************************************************/

@import "generales";
@import "config";
@import "mixin-generales";
@import "iconos";
@import "screenUtilitarios";
@import "texto";
@import "alineamiento";
@import "colores";
@import "css";
@import "fondos";
@import "tabla";
@import "preloader";
@import "progressBar";
@import "switch";
@import "grilla";
@import "dropdown";
@import "efecto-waves";
@import "botones";
@import "inputText";
@import "inputRadioCheck";
@import "inputGrupo";
@import "badges";
@import "card";
@import "modal";
@import "toolTip";
@import "menu";
@import "menu-colapso";
@import "menu-lateral";
@import "sidebar-fija";
@import "sidebar-barra";
@import "sidebar-lateral";
@import "botonFlotante";
@import "toast";
@import "sidebarFija";
@import "template-formulario";
@import "scroollSpy";
